.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.5em + 0.5rem + 2px) !important;
}
.select2-container--bootstrap4 .select2-selection__clear {
    float: right;
    width: 1.1em;
    height: 1.1em;
    padding-left: 0.3em;
    padding-top: 0.25rem;
    margin-top: 0.4em;
    margin-right: 0.3em;
    line-height: .75em;
    color: #f8f9fa;
    background-color: #c8c8c8;
    border-radius: 100%;
}