{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Match' %}{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'matches/css/style.css' %}">
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-0">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col-12 btn-group">
                            <a href="/matches" class="btn btn-sm btn-danger mx-2 size-max-w-x" style="--w-max-x: 30%;">Выйти</a>
                            <button type="button" class="btn btn-sm btn-warning mx-2 size-max-w-x" style="--w-max-x: 30%;">Редактировать</button>
                            <button type="button" class="btn btn-sm btn-success mx-2 size-max-w-x d-none" style="--w-max-x: 30%;">Сохранить</button>
                            <button type="button" class="btn btn-sm btn-secondary mx-2 size-max-w-x" style="--w-max-x: 10%;">
                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary mx-2 size-max-w-x" style="--w-max-x: 10%;">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary mx-2 size-max-w-x" style="--w-max-x: 10%;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mx-2 size-max-w-x" style="--w-max-x: 10%;">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollable-block py-1">
                    <div class="row">
                        <div class="col-12 content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="" class="table table-sm table-striped table-bordered" style="width:100%">
                                            <colgroup>
                                                <col span="1" style="width: 10%;">
                                                <col span="1" style="width: 5%;">
                                                <col span="1" style="width: 10%;">
                                                <col span="1" style="width: 5%;">
                                                <col span="1" style="width: 30%;">
                                                <col span="1" style="width: 10%;">
                                                <col span="1" style="width: 30%;">
                                            </colgroup>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td class="match_date" title="Дата проведения матча">
                                                        {{ match.date }}
                                                    </td>
                                                    <td class="match_time" title="Время проведения матча">
                                                        {{ match.time }}
                                                    </td>
                                                    <td class="match_duration" title="Длительность матча">
                                                        {{ match.duration }} мин.
                                                    </td>
                                                    <td class="match_result" title="Результат матча">
                                                        {% if match.result == 1 %}
                                                            <span class="text-success" title="Выигрыш">В</span>
                                                        {% elif match.result == 2 %}
                                                            <span class="text-danger" title="Проигрыш">П</span>
                                                        {% else %}
                                                            <span class="text-secondary" title="Ничья">Н</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="match_team_name" title="Команда 1">
                                                        {{ match.team_name }}
                                                    </td>
                                                    <td class="match_goals" title="Счёт">
                                                        {{ match.goals }} : {{ match.o_goals }}
                                                        ( {{ match.penalty }} : {{ match.o_penalty }} )
                                                    </td>
                                                    <td class="match_opponent_name" title="Команда 2">
                                                        {{ match.opponent_name }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'matches/js/base_match.js' %}"></script>
{% endblock %}
