{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header py-2">
                    <form action="#">
                        <div class="row">
                            <div class="col py-0">
                                <div class="row">
                                    <div class="col-2 px-1">
                                        <button id="event-add" title="" data-toggle="modal" data-target="#form-event-modal" class="btn btn-block btn-outline-dark btn-sm font-weight-bold"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-4 px-1">
                                        <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Календарь</button>
                                    </div>
                                    <div class="col px-1">
                                        <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold"><i class="fa fa-male" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col px-1">
                                        <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold"><i class="fa fa-th" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col px-1">
                                        <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0" style="">
                                <div class="row rescalendar_controls text-truncate text-center">
                                    <div class="col-2 pl-0 pr-1">
                                        <button class="btn btn-block btn-secondary btn-sm move_to_last_month"> &lt;&lt; </button>
                                    </div>
                                    <div class="col-2 px-0">
                                        <button class="btn btn-block btn-secondary btn-sm move_to_yesterday"> &lt; </button>
                                    </div>
                                    <div class="col-4 px-1">
                                        <button class="btn btn-block btn-secondary btn-sm font-weight-bold move_to_today"> --- </button>
                                        <input class="refDate select_filter_training" type="text" value="" style="display:none;">
                                    </div>
                                    <div class="col-2 px-0">
                                        <button class="btn btn-block btn-secondary btn-sm move_to_tomorrow"> &gt; </button>
                                    </div>
                                    <div class="col-2 px-1">
                                        <button class="btn btn-block btn-secondary btn-sm move_to_next_month"> &gt;&gt; </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col py-0">
                                <div class="row">
                                    <div class="col-4 px-1">
                                        <button id="microcycle" title="" data-toggle="modal" data-target="#microcycle-modal" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Микроциклы</button>
                                    </div>
                                    <div class="col-4 px-1">
                                        <button id="days" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">День+-</button>
                                    </div>
                                    <div class="col-4 px-1">
                                        <button id="events-exit" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold">Выйти</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body py-2">
                    <div class="row">
                        <div id="event_calendar" class="rescalendar"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table id="events" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">№</th>
                                            <th class="text-center">{% trans 'Date' %}</th>
                                            <th class="text-center">{% trans 'Event' %}</th>
                                            <th class="text-center">{% trans 'M.C.' %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>19/07/2022</td>
                                            <td class="text-center"><a href="{% url 'trainings:edit_training' %}" type="button" class="btn btn-sm btn-info py-0">Тренировка</a></td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col collapse">
                            <div class="table-responsive">
                                <table id="matches" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Д.Н.</th>
                                            <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
                                            <th><i class="fa fa-trophy" aria-hidden="true"></i></th>
                                            <th>Команда</th>
                                            <th>Счет</th>
                                            <th>Команда</th>
                                            <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col collapse" id="collapse-protocol">
                            <div class="table-responsive">
                                <table id="protocol" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th></th>
                                            <th></th>
                                            <th>с</th>
                                            <th>по</th>
                                            <th>гол.</th>
                                            <th>пен.</th>
                                            <th>пас.</th>
                                            <th>ж.к.</th>
                                            <th>к.к.</th>
                                            <th>оц.</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-8" id="block-event-info">
                            <div class="row pt-2 mb-2">
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Упражнения</button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Статистика</button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Протокол</button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Аналитика</button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Видео</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-center">
                                    <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                        <div id="svgparent" class="d-block mx-auto">
                                            <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                </defs>
                                                <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                <g id="selects"></g>
                                                <g id="figures"></g>
                                                <g id="lines"></g>
                                                <g id="objects"></g>
                                                <g id="dots"></g>
                                                <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                        <div id="svgparent" class="d-block mx-auto">
                                            <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                </defs>
                                                <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                <g id="selects"></g>
                                                <g id="figures"></g>
                                                <g id="lines"></g>
                                                <g id="objects"></g>
                                                <g id="dots"></g>
                                                <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                        <div id="svgparent" class="d-block mx-auto">
                                            <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                    <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                </defs>
                                                <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                <g id="selects"></g>
                                                <g id="figures"></g>
                                                <g id="lines"></g>
                                                <g id="objects"></g>
                                                <g id="dots"></g>
                                                <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="microcycle-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="microcycle-modal-title">{% trans 'Working with microcycles' %}</h5>
                    <button type="button" class="ml-3 btn btn-sm btn-success create">
                        <span aria-hidden="true">{% trans 'Create' %}</span>
                    </button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="microcycles" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>{% trans 'title' %}</th>
                                    <th>{% trans 'start date' %}</th>
                                    <th>{% trans 'end date' %}</th>
                                    <th>{% trans 'options' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer block">
                    <form id="microcycles-form" method="post" class="d-none">
                        {% load crispy_forms_tags %}
                        {% crispy microcycle_form %}
                    </form>
                    <div id="alert-update">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'events/forms/create_event.html' %}

{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'events/ResCalendar/rescalendar.css' %}">
{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'events/ResCalendar/rescalendar.js' %}"></script>
    <script src="{% static 'events/base_events.js' %}"></script>
{% endblock %}