{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card m-0">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col py-0">
                            <div class="row">
                                <div class="col px-1">
                                    <button id="event-add" title="{% trans 'Event' %}" data-toggle="modal" data-target="#form-event-modal" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                {% if perms.events.add_clubmicrocycles or perms.events.add_usermicrocycles %}
                                <div class="col px-1">
                                    <button id="microcycle" title="{% trans 'Microcycle' %}" data-toggle="modal" data-target="#microcycle-modal" class="btn btn-block btn-lightgray btn-md font-weight-bold text-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                {% endif %}
                                <div class="col px-1">
                                    <button id="open-select-exercise" title="{% trans 'Open the selected exercise' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button id="toggle-calendar" title="{% trans 'Show/Hide calendar' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button title="{% trans 'Show/Hide events table' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button class="btn btn-block btn-lightgray btn-md">
                                        {% if ui_elements.players__player_list %}
                                            {{ ui_elements.players__player_list }}
                                        {% else %}
                                            <i class="fa fa-user" aria-hidden="true"></i></button>
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0" style="">
                            <div class="row rescalendar_controls text-truncate text-center">
                                <div class="col-6 px-1">
                                    <button class="btn btn-block btn-lightgray btn-md move_to_last_month"> &lt;&lt; </button>
                                </div>
{#                                <div class="col-2 px-0">#}
{#                                    <button class="btn btn-block btn-lightgray btn-sm move_to_yesterday"> &lt; </button>#}
{#                                </div>#}
                                <div class="col px-0 d-none">
                                    <button class="btn btn-block btn-lightgray btn-md font-weight-bold move_to_today"> --- </button>
                                    <input class="refDate" type="text" value="" style="display:none;">
                                </div>
{#                                <div class="col-2 px-0">#}
{#                                    <button class="btn btn-block btn-lightgray btn-sm move_to_tomorrow"> &gt; </button>#}
{#                                </div>#}
                                <div class="col-6 px-1">
                                    <button class="btn btn-block btn-lightgray btn-md move_to_next_month"> &gt;&gt; </button>
                                </div>
                            </div>
                        </div>
                        <div class="col py-0">
                            <div class="row">
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><b class="text-info">V</b></button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><b class="text-danger">!</b></button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><span class="icon-custom icon--share" style="--i-w: 1.1em; --i-h: 1.1em;"></span></button>
                                </div>
                                <div class="col px-1">
                                    <button id="event-copy-modal-button" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><span class="icon-custom icon--copy" style="--i-w: 1.1em; --i-h: 1.1em;"></span></button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><span class="icon-custom icon--download" style="--i-w: 1.1em; --i-h: 1.1em;"></span></button>
                                </div>
                                <div class="col px-1">
                                    <button id="#" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-print" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button id="delete-event-button" title="" class="btn btn-block btn-lightgray pt-1 btn-md font-weight-bold text-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <div id="calendar-row" class="row">
                        <div class="col-12 px-0">
                            <div id="event_calendar" class="rescalendar"></div>
                        </div>
                    </div>
                    <div id="filters-row" class="row pt-1">
                        <div class="col">
                            <div class="row">
                                <div class="col-4 pl-0 pr-1">
                                    <input type="search" class="form-control form-control-sm text-center" placeholder="{% trans 'M.C.' %}">
                                </div>
                                <div class="col-4 px-1">
                                    <input type="search" class="form-control form-control-sm text-center" placeholder="{% trans 'Microcycle days' %}">
                                </div>
                                <div class="col-4 px-1">
                                    <input type="search" class="form-control form-control-sm text-center" placeholder="{% trans 'Field size' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-4 px-1">
                                    <button id="favourites-event-filter" data-filter="0" title="" class="btn btn-block btn-lightgray btn-sm font-weight-bold"><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-4 px-1">
                                    <button class="btn btn-block btn-lightgray btn-sm font-weight-bold"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-4 px-1">
                                    <button class="btn btn-block btn-lightgray btn-sm font-weight-bold"><b class="text-info">V</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-6 px-1">
                                    <input type="search" class="form-control form-control-sm text-center" placeholder="{% trans 'Keywords' %}">
                                </div>
                                <div class="col-6 pl-1 pr-0">
                                    <input type="search" class="form-control form-control-sm text-center" placeholder="{% trans 'Training load' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'trainings/training_card.html' %}
                    <div id="events-content" class="row mt-1 border-top">
                        <div class="col px-0">
                            <div id="events-table" class="table-responsive" style="overflow-y: auto;">
                                <table id="events" class="table table-sm padding-none table-bordered table-hover dataTable" style="width:100%;">
{#                                    <thead>#}
{#                                        <tr>#}
{#                                            <th class="text-center">№</th>#}
{#                                            <th class="text-center">{% trans 'Date' %}</th>#}
{#                                            <th class="text-center">{% trans 'Event' %}</th>#}
{#                                            <th class="text-center">{% trans 'M.D.' %}</th>#}
{#                                            <th class="text-center"><i class="fa fa-star-o" aria-hidden="true"></i></th>#}
{#                                            <th class="text-center">{% trans 'Players' %}</th>#}
{#                                        </tr>#}
{#                                    </thead>#}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-8" id="block-event-info">
                            <div class="row event-info" style="overflow-y: auto; overflow-x: hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="microcycle-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header block">
                    <div class="row pb-2">
                        <div class="col-4">
                            <h5 class="modal-title" id="microcycle-modal-title">{% trans 'Working with microcycles' %}</h5>
                        </div>
                        <div class="col-4">
                            <button type="button" class="ml-3 btn btn-sm btn-primary create">
                                <span aria-hidden="true">{% trans 'Create' %}</span>
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row pt-2 border-top">
                        <div class="col-12">
                            <form id="microcycles-form" method="post" class="d-none">
                                {% load crispy_forms_tags %}
                                {% crispy microcycle_form %}
                            </form>
                            <div id="alert-update">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="microcycles" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>{% trans 'title' %}</th>
                                    <th>{% trans 'start date' %}</th>
                                    <th>{% trans 'end date' %}</th>
                                    <th>{% trans 'options' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer block">

                </div>
            </div>
        </div>
    </div>
    {% include 'events/forms/create_event.html' %}
    {% include 'events/forms/edit_event.html' %}
    {% include 'events/forms/event_copy.html' %}

    {% include "exercises/modules/exercise_graphic_modal.html" %}

{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'trainings/css/training_card.css' %}">
    <link rel="stylesheet" href="{% static 'events/ResCalendar/rescalendar.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/base_events.css' %}">
{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'exercises/js/modules/graphic_modal.js' %}"></script>
    <script src="{% static 'references/exercise_additional_data.js' %}"></script>
    <script src="{% static 'references/training_additional.js' %}"></script>
    <script src="{% static 'trainings/js/action_training.js' %}"></script>
    <script src="{% static 'trainings/js/training_card.js' %}"></script>
    <script src="{% static 'events/ResCalendar/rescalendar.js' %}"></script>
    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'events/js/event_copy.js' %}"></script>
    <script src="{% static 'events/js/base_events.js' %}"></script>
{% endblock %}