{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card m-0">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col py-0">
                            <div class="row">
                                <div class="col px-1">
                                    <button id="event-add" title="{% trans 'Event' %}" data-toggle="modal" data-target="#form-event-modal" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                {% if perms.events.add_clubmicrocycles or perms.events.add_usermicrocycles %}
                                <div class="col px-1 mc-function">
                                    <button id="open-references-modal" title="{% trans 'Microcycle' %}" data-toggle="modal" data-target="#references-modal" class="btn btn-block btn-lightgray btn-md font-weight-bold text-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                {% endif %}
                                <div class="col px-1">
                                    <button id="open-select-training" title="{% trans 'Open the selected exercise' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
{#                                <div class="col px-1">#}
{#                                    <button title="{% trans 'Show/Hide events table' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>#}
{#                                </div>#}
{#                                <div class="col px-1">#}
{#                                    <button id="toggle-event-card" title="{% trans 'Show/Hide event card' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>#}
{#                                </div>#}
                                <div class="col px-1">
                                    <button id="favourites-event-filter" data-filter="0" title="{% trans 'Filter by favorites' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button id="filled-event-filter" data-filter="0" title="{% trans "Filtering of training events" %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                </div>
{#                                <div class="col px-1">#}
{#                                    <button id="video-event-filter" data-filter="0" title="{% trans 'Filter by video' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><b class="text-dark">V.</b></button>#}
{#                                </div>#}
                                <div class="col px-1">
                                    <button id="clear-events-filters" class="btn btn-block btn-reset-filter btn-md font-weight-bold" title="{% trans "Resetting all filtering and calendar" %}"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="rescalendar-control-buttons" class="col-2 p-0" style="">
                            <div class="row rescalendar_controls text-truncate text-center">
                                <div class="col-3 px-1 rescalendar_move_button">
                                    <button class="btn btn-block btn-lightgray btn-md move-left move_to_last_month"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
                                </div>
                                <div class="col px-1">
                                    <button id="toggle-calendar" title="{% trans 'Show/Hide calendar' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold text-truncate px-0 active">{% trans "Calendar" %}</button>
                                </div>
                                <div class="col px-0 d-none">
                                    <button class="btn btn-block btn-lightgray btn-md font-weight-bold move_to_today"> --- </button>
                                    <input class="refDate" type="text" value="" style="display:none;">
                                </div>
                                <div class="col-3 px-1 rescalendar_move_button">
                                    <button class="btn btn-block btn-lightgray btn-md move-right move_to_next_month"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
                                </div>
                            </div>
                        </div>
                        <div class="col py-0">
                            <div class="row">
{#                                <div class="col px-1">#}
{#                                    <button id="toggle-microcycle-functions" title="{% trans 'Show/Hide microcycle functions' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold">{% trans 'M.C.' %}</button>#}
{#                                </div>#}
{#                                <div class="col px-1">#}
{#                                    <button id="event-show-filter-data-button" title="" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>#}
{#                                </div>#}
{#                                <div class="col px-1">#}
{#                                    <button id="event-video-modal-button" title="{% trans 'Video of selected event' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold" data-toggle="modal" data-target="#training-video-modal"><b class="text-info">V</b></button>#}
{#                                </div>#}
                                <div class="col px-1">
                                    <button id="players-training" title="{% trans 'Quick list of players' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold" data-toggle="modal" data-target="#players-list-modal">
                                        <i class="icon-custom icon--players" style="--i-w: 1.0em; --i-h: 1.0em;"></i>
                                    </button>
                                </div>
                                <div class="col px-1">
                                    <button id="shared-modal-button" title="{% trans 'Share training' %}" data-training-type="{% if user.club_id %}club{% else %}user{% endif %}" data-toggle="modal" data-target="#trainingShareModal" class="btn btn-block btn-lightgray btn-md font-weight-bold"><span class="icon-custom icon--share" style="--i-w: 1.0em; --i-h: 1.0em;"></span></button>
                                </div>
                                <div class="col px-1">
                                    <button id="event-copy-modal-button" title="{% trans 'Copy event' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><span class="icon-custom icon--copy" style="--i-w: 1.0em; --i-h: 1.0em;"></span></button>
                                </div>
{#                                <div class="col px-1">#}
{#                                    <button id="event-render-presentation" title="{% trans 'Download presentation' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold" disabled><span class="icon-custom icon--download" style="--i-w: 1.0em; --i-h: 1.0em;"></span></button>#}
{#                                </div>#}
                                <div class="col px-1">
                                    <button id="event-print-card" title="{% trans 'Print' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold"><i class="fa fa-print" aria-hidden="true"></i></button>
                                </div>
                                <div class="col px-1">
                                    <button id="delete-event-button" title="{% trans 'Delete event' %}" class="btn btn-block btn-lightgray btn-md font-weight-bold text-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 pb-2">
                    <div id="calendar-row" class="row">
                        <div class="col-12 px-0">
                            <div id="event_calendar" class="rescalendar"></div>
                        </div>
                    </div>

                    {% include 'trainings/training_card.html' %}
                    <div id="events-content" class="row border-top mt-1">
                        <div class="col-4">
                            <div id="filters-row" class="row pt-1 d-none">
                                <div class="col-11 pl-0 pr-1">
                                    <nav class="nav nav-pills nav-justified">
                                        <a class="nav-link btn-sm py-1 active" data-toggle="pill" href="#view-training-info" role="tab">{% trans 'View' %}</a>
                                        <a class="nav-link btn-sm py-1" data-toggle="pill" href="#filters-training-info" role="tab">{% trans 'Filters' %}</a>
                                    </nav>
                                </div>
                                <div class="col-1 pl-1 pr-0">
                                    <button class="btn btn-sm btn-secondary btn-block"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-12 pb-1" style="border-bottom: 2px solid black">
                                    <div class="tab-content pt-1" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="view-training-info" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row mc-function">
                                                <div class="col-12 px-0">
                                                    <input id="training-block-view" type="text" class="form-control form-control-sm text-center text-truncate" placeholder="{% trans 'Block' %}" autocomplete="off" disabled>
                                                </div>
                                                <div class="col-12 px-0">
                                                    <input id="objective_1-training-view" type="text" class="form-control form-control-sm text-center text-truncate" placeholder="{% trans 'Objective' %} 1" autocomplete="off" disabled>
                                                </div>
                                                <div class="col-12 px-0">
                                                    <input id="objective_2-training-view" type="text" class="form-control form-control-sm text-center text-truncate" placeholder="{% trans 'Objective' %} 2" autocomplete="off" disabled>
                                                </div>
                                                <div class="col-12 px-0">
                                                    <input id="objective_3-training-view" type="text" class="form-control form-control-sm text-center text-truncate" placeholder="{% trans 'Objective' %} 3" autocomplete="off" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="filters-training-info" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            {% if perms.events.change_clubmicrocycles or perms.events.change_usermicrocycles %}
                                            <div class="row mc-function">
                                                <div class="col-6 pl-0 pr-1">
                                                    <input id="microcycle-day-filter" type="search" class="form-control form-control-sm text-center text-filter-events" placeholder="{% trans 'M.D.' %}" autocomplete="off">
                                                </div>
                                                <div class="col-6 pl-1 pr-0">
                                                    <input id="microcycle-days-filter" type="search" class="form-control form-control-sm text-center text-filter-events" placeholder="{% trans 'MC days' %}" autocomplete="off">
                                                </div>
                                                <div class="col-12 mt-1 px-0">
                                                    <select id="microcycle-name-filter" class="form-control form-control-sm select-filter-events select2" placeholder="{% trans 'M.C.' %}">
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-1 px-0">
                                                    <select id="training-block-filter" class="form-control form-control-sm select-filter-events select2" placeholder="{% trans 'Block' %}">
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-1 px-0 objective-filters-block">
                                                    <select id="objective_1-event-view" type="text" class="form-control form-control-sm select-filter-events" placeholder="{% trans 'Objective' %} 1"></select>
                                                </div>
                                                <div class="col-12 mt-1 px-0 objective-filters-block">
                                                    <select id="objective_2-event-view" type="text" class="form-control form-control-sm select-filter-events" placeholder="{% trans 'Objective' %} 2"></select>
                                                </div>
                                                <div class="col-12 mt-1 px-0 objective-filters-block">
                                                    <select id="objective_3-event-view" type="text" class="form-control form-control-sm select-filter-events" placeholder="{% trans 'Objective' %} 3"></select>
                                                </div>
                                            </div>
            {#                                <div class="col-8 mc-function">#}
            {#                                    <div class="row"> <!--training-card-objective d-none-->#}
            {#                                        <div class="col-3 px-1">#}
            {#                                            <select id="objective_1-block-filter" class="form-control form-control-sm select-filter-events select2" placeholder="{% trans 'Objective block' %}">#}
            {#                                            </select>#}
            {#                                        </div>#}
            {##}
            {#                                        <div class="col-3 mt-1 px-1">#}
            {#                                            <select id="objective_2-block-filter" class="form-control form-control-sm select-filter-events select2" placeholder="{% trans 'Objective block' %}">#}
            {#                                            </select>#}
            {#                                        </div>#}
            {##}
            {#                                        <div class="col-3 mt-1 px-1">#}
            {#                                            <select id="objective_3-block-filter" class="form-control form-control-sm select-filter-events select2" placeholder="{% trans 'Objective block' %}">#}
            {#                                            </select>#}
            {#                                        </div>#}
            {##}
            {#                                    </div>#}
            {#                                </div>#}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col px-0">
                                    <div id="events-table" class="table-responsive" style="overflow-y: auto;">
                                        <table id="events" class="table table-sm padding-none table-bordered table-hover dataTable" style="width:100%;">
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col" id="block-event-info">
                            <div class="row event-info" style="overflow-y: auto; overflow-x: hidden">
                            </div>
                        </div>
                    </div>
                </div>
                {% include "references/modules/players_list.html" %}
            </div>
        </div>
    </div>

    {% include "trainings/training_video.html" %}
    {% include 'shared/modules/shared_training_modal.html' %}
    {% include 'trainings/print_training.html' %}
    {% include 'events/modules/references_modal.html' %}
    {% include 'events/forms/create_event.html' %}
    {% include 'events/forms/edit_event.html' %}
    {% include 'events/forms/event_copy.html' %}

    {% include "exercises/modules/exercise_graphic_modal.html" %}

{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'trainings/css/training_card.css' %}">
    <link rel="stylesheet" href="{% static 'trainings/css/print_training.css' %}">
    <link rel="stylesheet" href="{% static 'events/ResCalendar/rescalendar.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/base_events.css' %}">
{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'jquery-print/jQuery.print.min.js' %}"></script>
    <script src="{% static 'ckeditor5-36.0.0-i0g4ar8o2g2v/build/ckeditor.js' %}"></script>
    <!-- ckeditor5 languages: -->
    <script src="{% static 'ckeditor5-36.0.0-i0g4ar8o2g2v/build/translations/ru.js' %}"></script>
    <script src="{% static 'preadmin/plugins/jqueryClassyqr/jquery.classyqr.min.js' %}"></script>

    <script src="{% static 'references/team_ajax.js' %}"></script>
    <script src="{% static 'references/players_list_json.js' %}"></script>
    <script src="{% static 'shared/js/modules/shared_ajax.js' %}"></script>
    <script src="{% static 'exercises/js/modules/graphic_modal.js' %}"></script>
    <script src="{% static 'references/exercise_additional_data.js' %}"></script>
    <script src="{% static 'references/training_additional.js' %}"></script>
    <script src="{% static 'trainings/js/objectives_table.js' %}"></script>
    <script src="{% static 'trainings/js/action_objectives.js' %}"></script>
    <script src="{% static 'trainings/js/blocks_table.js' %}"></script>
    <script src="{% static 'trainings/js/action_blocks.js' %}"></script>
    <script src="{% static 'trainings/js/action_training.js' %}"></script>
    <script src="{% static 'trainings/js/training_card.js' %}"></script>
    <script src="{% static 'trainings/js/print_training.js' %}"></script>
    <script src="{% static 'events/ResCalendar/rescalendar.js' %}"></script>
    <script src="{% static 'events/js/microcycle_update.js' %}"></script>
    <script src="{% static 'events/js/generate_table.js' %}"></script>
    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'events/js/event_copy.js' %}"></script>
    <script src="{% static 'presentation/js/presentation_ajax.js' %}"></script>
    <script src="{% static 'events/js/events.js' %}"></script>
    <script src="{% static 'events/js/base_events.js' %}"></script>
{% endblock %}