{% load i18n %}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
{#                <button id="additional-exercise-data" type="button" class="btn btn-primary reference-edit">{% trans "Exercise additional data" %}</button>#}
                <button type="button" class="btn btn-primary btn-sm" id="exsTagsRef" disabled="">
                    Упражнения. Тэги
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="exsFeaturesRef">
                    Упражнения. Справочники
                </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-sm" id="medicineDiseaseSpecificRef">
                    Медицина. Травмы
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="medicineDiseaseNonSpecificRef">
                    Медицина. Болезни
                </button>
            </div>
        </div>
    </div>
</div>


{% include 'exercises/modules/exercise_tags_modal.html' %}
{% include 'exercises/modules/exercise_features_modal.html' %}
{% include 'medicine/modules/medicine_diseases_modal.html' %}
