
.card-inside {
    height: 88vh !important;
}


.player-row:hover {
    background-color: rgb(220, 220, 220);
}
.player-row.selected {
    background-color: rgb(63, 144, 238);
}


.cnt-left-block {
    height: 80vh !important;
    overflow-y: auto;
}
.cnt-center-block {
    height: 80vh !important;
    overflow-y: auto;
}
.cnt-right-block {
    height: 80vh !important;
    overflow-y: auto;
}