{% extends '../base/app_main.html' %}
{% load static %}

{% block title %}Тестирование{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'testing/css/style.css' %}">
{% endblock %}

{% block content %}
    <main class="">
        <div class="row">
            <div class="col-12">
                <div class="card mb-1">
                    <div class="card-body p-0 scrollable-block" style="--scroll:90vh;">
                        <div class="up-block-content">
                            <div class="row">
                                <div class="col-12 btn-group">
                                    <button type="button" class="btn btn-primary btn-sm mr-1" id="editSelectedTest" style="max-width: 10vw;">
                                        Настройка теста
                                    </button>
                                    <select id="testSelected" class="form-control form-control-sm mr-1" style="max-width: 20vw;">
                                        <option value="" disabled="disabled" selected="selected">Выбрать существующий тест</option>
                                    </select>
                                    <button type="button" class="btn btn-primary btn-sm mr-1" id="createNewResult" style="max-width: 10vw;">
                                        Настройка результата
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm mr-1" id="toggleMarksView" style="max-width: 10vw;">
                                        <input type="checkbox"> Показывать баллы
                                    </button>
                                    <button type="button" class="btn btn-dark btn-sm mr-1" disabled="disabled">
                                        &nbsp;
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm mr-1 elem-flex-center" id="toggleMarkerModal" title="Маркер" style="max-width:32px;">
                                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm mr-1 elem-flex-center" id="printTableData" title="Печать" style="max-width:32px;">
                                        <i class="fa fa-print" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm elem-flex-center" id="shareTableData" title="Поделиться" style="max-width:32px;">
                                        <i class="fa fa-share" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tests-table-container mt-2">
                            <div class="table-responsive-no-data text-center">
                                <h5 class="font-weight-bold">Данных не найдено.</h5>
                            </div>
                            <div id="tests_wrapper" class="table-responsive h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editTestModal" tabindex="-1" role="dialog" aria-labelledby="editTestModalLbl" aria-hidden="true" data-id="">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавление / изменение теста</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-1">
                            <input name="title" type="text" class="form-control form-control-sm" aria-describedby="" autocomplete="off" required="" placeholder="Название теста">
                        </div>
                        <div class="btns-control">
                            <span>Параметры</span>
                            <span class="badge badge-success col-add" title="Добавить элемент">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="content-container">
                            <div class="row test-container mx-0">
                                <div class="col-12 param-row row border border-secondary">
                                    <input name="name_param" class="form-control form-control-sm" type="text" value="" placeholder="Название параметра" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-save">Сохранить</button>
                        <button type="submit" class="btn btn-danger btn-delete">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editTestResultModal" tabindex="-1" role="dialog" aria-labelledby="editTestResultModalLbl" aria-hidden="true" data-id="">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 95vw !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавление / изменение результата тестирования</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="dateTestResult" class="col-3 col-form-label">Выберите дату тестирования</label>
                            <div class="col-2">
                                <input name="date" class="form-control form-control-sm" id="dateTestResult" type="date" value="" placeholder="" autocomplete="off">
                            </div>
                            <div class="col-7">&nbsp;</div>
                        </div>
                        <div class="table-responsive h-100"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-save">Сохранить</button>
                        <button type="submit" class="btn btn-danger btn-delete">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="testingMarkerModal" tabindex="-1" role="dialog" aria-labelledby="testingMarkerModalLbl" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Настройка маркера</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                Цвет шрифта:
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="f_color" id="f_color1" value="" checked>
                                    <label class="form-check-label" for="f_color1">нет</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="f_color" id="f_color3" value="#059900">
                                    <label class="form-check-label" for="f_color3">зелёный</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="f_color" id="f_color5" value="#ca0000">
                                    <label class="form-check-label" for="f_color5">красный</label>
                                </div>
                            </div>
                            <hr>
                            <div class="col-12">
                                Граница / контур:
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="border" id="border1" value="" checked>
                                    <label class="form-check-label" for="border1">нет</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="border" id="border3" value="#08ff004f">
                                    <label class="form-check-label" for="border3">зелёный</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="border" id="border5" value="#ff00004f">
                                    <label class="form-check-label" for="border5">красный</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h6>
                            <span class="badge badge-danger">Внимание</span>
                            <span>
                                Настройки маркера сбрасываются после обновления страницы.
                            </span>
                        </h6>
                        <h6>
                            <span class="badge badge-danger">Внимание</span>
                            <span>
                                После выбора определенных опций нажмите правую кнопку мыши на ячейку, чтобы установить маркер.
                            </span>
                        </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'testing/js/base_testing.js' %}"></script>
{% endblock %}
