{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <nav>
                        <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                            {% if perms.references.change_userteam or perms.references.change_clubteam %}
                            <a class="nav-item nav-link btn btn-sm btn-outline-dark font-weight-bold mx-2" id="nav-teams-tab" data-toggle="tab" href="#nav-teams" role="tab" aria-controls="nav-teams" aria-selected="true">{% trans 'Teams' %}</a>
                            {% endif %}
                            {% if perms.references.change_userseason or perms.references.change_clubseason %}
                            <a class="nav-item nav-link btn btn-sm btn-outline-dark font-weight-bold mx-2" id="nav-seasons-tab" data-toggle="tab" href="#nav-seasons" role="tab" aria-controls="nav-seasons" aria-selected="false">{% trans 'Seasons' %}</a>
                            {% endif %}
                            {% if perms.exercises.change_userfolder or perms.exercises.change_clubfolder %}
                            <a class="nav-item nav-link btn btn-sm btn-outline-dark font-weight-bold mx-2" id="nav-folders-tab" href="{% url 'exercises:folders' %}">{% trans 'Folders' %}</a>
                            {% endif %}
                            <a class="nav-item nav-link btn btn-sm btn-outline-dark font-weight-bold mx-2" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="false">{% trans 'Settings' %}</a>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        {% if perms.references.change_userteam or perms.references.change_clubteam %}
                        <div class="tab-pane fade" id="nav-teams" role="tabpanel" aria-labelledby="nav-teams-tab">
                            <div class="table-responsive">
                                <table id="teams" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>{% trans 'title' %}</th>
{#                                            <th>{% trans 'short name' %}</th>#}
                                            <th>{% trans 'Year of birth' %}</th>
                                            <th>{% trans 'Age U' %}</th>
                                            <th>{% trans 'team status' %}</th>
                                            <th>{% trans 'options' %}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.references.change_userseason or perms.references.change_clubseason %}
                        <div class="tab-pane fade" id="nav-seasons" role="tabpanel" aria-labelledby="nav-seasons-tab">
                            <div class="table-responsive">
                                <table id="seasons" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>{% trans 'title' %}</th>
                                            <th>{% trans 'short name' %}</th>
                                            <th>{% trans 'start date' %}</th>
                                            <th>{% trans 'end date' %}</th>
                                            <th>{% trans 'options' %}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                            {% if perms.references.add_userexsadditionaldata or perms.references.add_clubexsadditionaldata %}
                                {% include 'references/modules/references_list.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'references/forms/team.html' %}
    {% include 'references/forms/season.html' %}
    {% include 'references/forms/reference_edit.html' %}
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'references/exercise_additional_data.js' %}"></script>
    <script src="{% static 'references/ref_settings.js' %}"></script>
    <script src="{% static 'references/references_edit.js' %}"></script>
{% endblock %}