{% extends '../base/auth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Forgot' %}{% endblock %}

{% block custom_style %}
    <link href="{% static 'authorization/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <main class="form-signin">
        <form id="send-reset-password-form" method="POST">
            {% csrf_token %}
            <label for="email">{% trans 'Email' %}</label>
            <input id="email" type="email" name="email" class="form-control form-control-sm" required>
            <button id="send-reset-password-button" class="w-100 btn btn-lg btn-primary mt-1" type="button">{% trans 'Send' %}</button>
        </form>
        <p id="reset-password-info" class="text-left mb-1 pt-2 d-none">
            {% trans 'If the email does not arrive:' %}<br>
            <span class="badge badge-info">-{% trans  'Check the spam folder' %}</span><br>
            <span class="badge badge-info">-{% trans  'Make sure that the Email is entered correctly' %}</span>
        </p>
        <p class="text-center mb-1 pt-2">
            <a href="{% url 'authorization:login' %}">{% trans 'Log in to your account' %}.</a><br>
            <a href="{% url 'authorization:register' %}">{% trans 'Don`t have an account?' %}</a>
        </p>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'authorization/ajax_authorization.js' %}"></script>
    <script src="{% static 'authorization/forgot_password.js' %}"></script>
{% endblock %}