{% extends '../base/auth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block custom_style %}
    <link href="{% static 'authorization/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% load crispy_forms_tags %}
    <main class="form-signin">
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">{% trans 'Login' %}</button>
        </form>
        <p class="text-center mb-1 pt-2">
            <a href="{% url 'authorization:register' %}">{% trans 'Don`t have an account?' %}</a><br>
            <a href="{% url 'authorization:forgot' %}">{% trans 'Forgot your password?' %}</a>
        </p>
        <p class="text-center"></p>
    </main>
{% endblock %}
