{% extends '../base/auth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Register{% endblock %}

{% block custom_style %}
    <link href="{% static 'authorization/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% load crispy_forms_tags %}
    <main class="form-signin">
{#        <form method="POST" action="{% url 'authorization:register_api' %}">#}
            {% crispy register_form2 %}
            {% crispy register_form %}
            <button id="registration-button" class="w-100 btn btn-lg btn-primary mt-3" type="button">{% trans "Sign up"%}</button>
{#        </form>#}
        <p class="text-center" style="font-size: 18px">{% trans "If you already have an account, "%}<a href="{% url 'authorization:login' %}">{% trans "login"%}</a>.</p>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'authorization/ajax_authorization.js' %}"></script>
    <script src="{% static 'authorization/source.js' %}"></script>
{% endblock %}
