{% extends '../base/auth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Forgot' %}{% endblock %}

{% block custom_style %}
    <link href="{% static 'authorization/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <main class="form-signin">
        <form id="send-password-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="uid" value="{{ uid }}">
            <input type="hidden" name="token" value="{{ token }}">
            <label for="new-password" class="">{% trans 'New password' %}</label>
            <input id="new-password" type="password" name="new_password" placeholder="{% trans 'New password' %}" class="form-control form-control-sm mb-1" required>
            <input type="password" name="password2" placeholder="{% trans 'Repeat the password' %}" class="form-control form-control-sm" required>
            <button id="send-password-button" class="w-100 btn btn-lg btn-primary mt-1" type="button">{% trans 'Send' %}</button>
        </form>
        <p class="text-center mb-1 pt-2">
            <a id="login-href" href="{% url 'authorization:login' %}">{% trans 'Log in to your account' %}.</a><br>
        </p>
    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'authorization/ajax_authorization.js' %}"></script>
    <script src="{% static 'authorization/reset_password.js' %}"></script>
{% endblock %}