{% load static %}
{% load i18n %}

<!-- Logo -->
<div class="header-left">
    <a href="#" class="logo">
        <img src="{% static 'preadmin/img/logo_n.png' %}" alt="Logo" height="28">
    </a>
    <a href="#" class="logo logo-small">
        <img src="{% static 'preadmin/img/logo-small_n.png' %}" alt="Logo" width="28" height="28">
    </a>
</div>
<!-- /Logo -->
{% verbatim %}
<a href="javascript:void(0);" id="toggle_btn">
    <i class="fe fe-text-align-left"></i>
</a>
{% endverbatim %}

<!-- Mobile Menu Toggle -->
<a class="mobile_btn" id="mobile_btn">
    <i class="fa fa-bars"></i>
</a>

<div class="nav float-right pt-1">

</div>
<!-- /Mobile Menu Toggle -->

<!-- Header Right Menu -->
<ul class="nav user-menu">

    <!-- Set columns size -->
    <!--<li class="nav-item">
        <a href="#" class="nav-link" id="columnsSizeToggle" title="Поменять размер колонок">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
    </li>-->

    <!-- Seasons Lists -->
    {% if perms.references.view_userteam or perms.references.view_clubteam or perms.references.view_userseason or perms.references.view_clubseason %}
        <li class="nav-item dropdown seasons-dropdown">
            {% if request.seasons_list %}
                {% if perms.references.view_userseason or perms.references.view_clubseason %}
                <form class="mt-2 mx-1" action="{% url 'references:set_season' %}" method="post">{% csrf_token %}
                    <select id="select-season" class="select custom-select seasons" name="season_value" tabindex="-1" aria-hidden="true">
                        <option value="">{% trans 'No season selected' %}</option>
                        {% for season in request.seasons_list %}
                            <option value="{{ season.id }}" data-with="{{ season.date_with|date:"d/m/Y" }}" data-by="{{ season.date_by|date:"d/m/Y" }}" {% if request.session.season == season.id|stringformat:"i" %}selected{% endif %}>{{ season.name }}</option>
                        {% empty %}
                            <option value="">{% trans 'No seasons' %}</option>
                        {% endfor %}
                    </select>
                </form>
                {% endif %}
            {% else %}
                {% if perms.references.add_userseason or perms.references.add_clubseason %}
                <a href="{% url 'references:settings' %}" class="btn btn-block btn-warning" role="button">{% trans 'Create a season' %}</a>
                {% endif %}
            {% endif %}
        </li>
        <li class="nav-item dropdown teams-dropdown">
            {% if request.teams_list %}
                {% if perms.references.view_userteam or perms.references.view_clubteam %}
                <form class="mt-2 mx-1" action="{% url 'references:set_team' %}" method="post">{% csrf_token %}
                    <select id="select-team" class="select custom-select teams" name="team_value" tabindex="-1" aria-hidden="true">
                        <option value="">{% trans 'No team selected' %}</option>
                        {% for team in request.teams_list %}
                            <option value="{{ team.id }}" {% if request.session.team == team.id|stringformat:"i" %}selected{% endif %}>{{ team.name }}</option>
                        {% empty %}
                            <option value="">{% trans 'No teams' %}</option>
                        {% endfor %}
                    </select>
                </form>
                {% endif %}
            {% else %}
                {% if perms.references.add_userteam or perms.references.add_clubteam %}
                <a href="{% url 'references:settings' %}" class="btn btn-block btn-warning" role="button">{% trans 'Create a team' %}</a>
                {% endif %}
            {% endif %}
        </li>
{#        {% if perms.references.add_userteam or perms.references.add_clubteam or perms.references.add_userseason or perms.references.add_clubseason %}#}
{#            <li class="nav-item dropdown settings-dropdown">#}
{#                <a href="{% url 'references:settings' %}" class="nav-link dropdown-toggle" role="button"><i class="fa fa-cog" aria-hidden="true"></i></a>#}
{#            </li>#}
{#        {% endif %}#}
    {% endif %}
    <!-- App Lists -->
{#    <li class="nav-item dropdown app-dropdown">#}
{#        <a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown" href="#"><i class="fe fe-app-menu"></i></a>#}
{#        <ul class="dropdown-menu app-dropdown-menu">#}
{#            <li>#}
{#                <div class="app-list">#}
{#                    <div class="row">#}
{#                        <div class="col"><a class="app-item" href="inbox.html"><i class="fa fa-envelope"></i><span>Email</span></a></div>#}
{#                        <div class="col"><a class="app-item" href="calendar.html"><i class="fa fa-calendar"></i><span>Calendar</span></a></div>#}
{#                        <div class="col"><a class="app-item" href="chat.html"><i class="fa fa-comments"></i><span>Chat</span></a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
    <!-- /App Lists -->

    <!-- Admin settings panel -->
    {% if user.is_superuser %}
    <li class="nav-item dropdown admin-settings-dropdown" title="Открыть настройки раздела для администратора">
        <a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="collapse" data-target="#collapseAdminSectionSettings" href="#">
            <i class="fe fe-gear"></i>
        </a>
    </li>
    {% endif %}
    <!-- /Admin settings panel -->

    <!-- Notifications -->
{#    <li class="nav-item dropdown noti-dropdown">#}
{#        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">#}
{#            <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>#}
{#        </a>#}
{#        <div class="dropdown-menu notifications">#}
{#            <div class="topnav-dropdown-header">#}
{#                <span class="notification-title">Notifications</span>#}
{#                {% verbatim %}#}
{#                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>#}
{#                {% endverbatim %}#}
{#            </div>#}
{#            <div class="noti-content">#}
{#                <ul class="notification-list">#}
{#                    <li class="notification-message">#}
{#                        <a href="#">#}
{#                            <div class="media">#}
{#                                <span class="avatar avatar-sm">#}
{#                                    <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'preadmin/img/profiles/avatar-02.jpg' %}">#}
{#                                </span>#}
{#                                <div class="media-body">#}
{#                                    <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>#}
{#                                    <p class="noti-time"><span class="notification-time">4 mins ago</span></p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="notification-message">#}
{#                        <a href="#">#}
{#                            <div class="media">#}
{#                                <span class="avatar avatar-sm">#}
{#                                    <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'preadmin/img/profiles/avatar-11.jpg' %}">#}
{#                                </span>#}
{#                                <div class="media-body">#}
{#                                    <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>#}
{#                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="notification-message">#}
{#                        <a href="#">#}
{#                            <div class="media">#}
{#                                <span class="avatar avatar-sm">#}
{#                                    <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'preadmin/img/profiles/avatar-17.jpg' %}">#}
{#                                </span>#}
{#                                <div class="media-body">#}
{#                                <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>#}
{#                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="notification-message">#}
{#                        <a href="#">#}
{#                            <div class="media">#}
{#                                <span class="avatar avatar-sm">#}
{#                                    <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'preadmin/img/profiles/avatar-13.jpg' %}">#}
{#                                </span>#}
{#                                <div class="media-body">#}
{#                                    <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>#}
{#                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="topnav-dropdown-footer">#}
{#                <a href="#">View all Notifications</a>#}
{#            </div>#}
{#        </div>#}
{#    </li>#}
    <!-- /Notifications -->

    <!-- User Menu -->
    <li class="nav-item dropdown has-arrow">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <span class="user-img"><img class="rounded-circle" src="{% static 'preadmin/img/profiles/avatar-01.jpg' %}" width="31" alt="{{ user.personal.full_name }}"></span>
        </a>
        <div class="dropdown-menu">
            <div class="user-header">
                <div class="avatar avatar-sm">
                    <img src="{% static 'preadmin/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
                </div>
                <div class="user-text">
                    <h6>{{ user.personal.full_name }}</h6>
                    <p class="text-muted mb-0">{{ user.personal.get_job_title }}</p>
                </div>
            </div>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select id="select-language" name="language" class="form-control form-control-sm">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
            {% if user.is_superuser %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin panel" %}</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'users:profile' %}">{% translate "My Profile" %}</a>
            <a class="dropdown-item" href="{% url 'authorization:logout' %}">{% translate "Logout" %}</a>
        </div>
    </li>
    <!-- /User Menu -->

</ul>
<!-- /Header Right Menu -->