{% load i18n %}

<li class="menu-title">
    <span>{% trans 'Administration' %}</span>
</li>
<li class="submenu">
    <a href="#" class="btn disabled"><i class="fe fe-layout"></i> <span>{% trans '«Client» system' %}</span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
        <li><a href="#">{% trans 'Users' %}</a></li>
        <li><a href="#">{% trans 'Clubs' %}</a></li>
        <li><a href="#">{% trans 'Federations' %}</a></li>
    </ul>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-television"></i> <span>{% trans '«Club» panel' %}</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-television"></i> <span>{% trans '«Federation» panel' %}</span></a>
</li>
<li class="menu-title">
    <span>{% trans 'Main sections' %}</span>
</li>
<li class="{{ menu_events }}">
    <a href="{% url 'events:base_events' %}" class="btn"><i class="fa fa-calendar"></i> <span>{% trans 'Events' %}</span></a>
</li>
<li class="{{ menu_matches }}">
    <a href="{% url 'matches:base_matches' %}" class="btn"><i class="fa fa-trophy"></i> <span>{% trans 'Matches' %}</span></a>
</li>
<li class="{{ menu_trainings }}">
    <a href="{% url 'trainings:base_trainings' %}" class="btn"><i class="fa fa-calendar-o"></i> <span>{% trans 'Training' %}</span></a>
</li>
<li class="submenu">
    <a href="#"><i class="fa fa-futbol-o"></i> <span>{% trans 'Exercises' %}</span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
        <li><a class="nav-link {% if is_exercises %}active{% endif %}" href="{% url 'exercises:exercises' %}">{% trans 'List of exercises' %}</a></li>
        <li><a class="nav-link {% if is_folders %}active{% endif %}" href="{% url 'exercises:folders' %}">{% trans 'Folders management' %}</a></li>
    </ul>
</li>
<li>
    <a href="#" class="btn disabled"><i class="icon-custom icon--players" style="--i-w: 1.3em; --i-h: 1.3em;"></i> <span>{% trans 'Players' %}</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-line-chart"></i> <span>{% trans 'Analytics' %}</span></a>
</li>
<li class="submenu">
    <a href="#"><i class="fa fa-product-hunt"></i> <span>{% trans 'Applications' %}</span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
        <li><a href="#">{% trans 'Mailing' %}</a></li>
        <li><a href="#">{% trans 'Chat' %}</a></li>
        <li><a class="{{ menu_video }}" href="{% url 'video:base_video' %}">{% trans 'Video' %}</a></li>
        <li><a href="#">{% trans 'Tests' %}</a></li>
        <li><a href="#">{% trans 'Finance' %}</a></li>
    </ul>
</li>
<li class="menu-title">
    <span>{% trans 'Education' %}</span>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-book"></i> <span>{% trans 'Methodology' %}</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-list-alt"></i> <span>{% trans 'Courses' %}</span></a>
</li>