
<li class="menu-title">
    <span>Администрирование</span>
</li>
<li class="submenu">
    <a href="#" class="btn disabled"><i class="fe fe-layout"></i> <span> Система «Клиент» </span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
        <li><a href="#">Пользователи </a></li>
        <li><a href="#">Клубы </a></li>
        <li><a href="#">Федерации </a></li>
    </ul>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-television"></i> <span>Панель «Клуб»</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-television"></i> <span>Панель «Федерация»</span></a>
</li>
<li class="menu-title">
    <span>Разделы</span>
</li>
<li class="">
    <a href="#" class="btn disabled"><i class="fa fa-calendar"></i> <span>События</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-trophy"></i> <span>Матчи</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-calendar-o"></i> <span>Тренировки</span></a>
</li>
<li>
    <a href="{% url 'exercises:exercises' %}"><i class="fa fa-futbol-o"></i> <span>Упражнения</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-users"></i> <span>Игроки</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-line-chart"></i> <span>Аналитика</span></a>
</li>
<li class="submenu">
    <a href="#"><i class="fa fa-product-hunt"></i> <span> Приложения</span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
        <li><a href="#">Рассылки</a></li>
        <li><a href="#">Чат</a></li>
        <li><a class="{{ menu_video }}" href="{% url 'video:base_video' %}">Видео</a></li>
        <li><a href="#">Тесты</a></li>
        <li><a href="#">Финансы</a></li>
    </ul>
</li>
<li class="menu-title">
    <span>Обучение</span>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-book"></i> <span>Методология</span></a>
</li>
<li>
    <a href="#" class="btn disabled"><i class="fa fa-list-alt"></i> <span>Курсы</span></a>
</li>