{% load i18n %}

{% if 'impersonate_id' in request.session %}
    <li>
        <a href="/?__unimpersonate=True" class="btn text-danger">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>{% trans 'Exit Account' %}</span>
        </a>
    </li>
{% endif %}
{% if perms.clubs.club_admin or user.is_superuser %}
<li class="submenu">
    <a href="#">
        {% if ui_elements.sidebar__client_system %}
            {{ ui_elements.sidebar__client_system }}
        {% else %}
            <i class=""></i>
        {% endif %}
        <span>{% trans 'Administration' %}</span>
        <span class="menu-arrow"></span>
    </a>
    <ul style="display: none;">
        {% if user.is_superuser %}
        <li><a class="nav-link {{ menu_clients }}" href="{% url 'users:clients' %}">{% trans 'Users' %}</a></li>
        {% endif %}
        {% if perms.clubs.club_admin %}
        <li><a class="nav-link {{ menu_clubs }}" href="{% url 'clubs:base_club' %}">{% trans 'Club' %}</a></li>
        {% endif %}
        {% if perms.federations.federation_admin %}
        <li><a class="nav-link {{ menu_federations }}" href="{% url 'federations:base_federation' %}">{% trans 'Federation' %}</a></li>
        {% endif %}
        {% if perms.helper_football.view_userarticle or perms.helper_football.view_clubarticle %}
        <li class="{{ menu_helper_football }}">
            <a href="{% url 'helper_football:helper_football' %}" class="nav-link" style="padding-left: 16px;">
                {% if ui_elements.sidebar__helper_football %}
                    {{ ui_elements.sidebar__helper_football }}
                {% else %}
                    <i class="fa fa-book"></i>
                {% endif %}
                <span class="pl-2">{% trans 'Helper' %} 1</span>
            </a>
        </li>
        {% endif %}
        {% if perms.helper_site.view_userarticle or perms.helper_site.view_clubarticle %}
        <li class="{{ menu_helper_site }}">
            <a href="{% url 'helper_site:helper_site' %}" class="nav-link" style="padding-left: 16px;">
                {% if ui_elements.sidebar__helper_site %}
                    {{ ui_elements.sidebar__helper_site }}
                {% else %}
                    <i class="fa fa-book"></i>
                {% endif %}
                <span class="pl-2">{% trans 'Helper' %} 2</span>
            </a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
<!-- {% if user.is_superuser %}
<li class="submenu">
    <a href="#" class="btn disabled">
        {% if ui_elements.sidebar__client_system %}
            {{ ui_elements.sidebar__client_system }}
        {% else %}
            <i class="fe fe-layout"></i>
        {% endif %}
        <span>{% trans '«Client» system' %}</span>
        <span class="menu-arrow"></span>
    </a>
    <ul style="display: none;">
        <li><a href="#">{% trans 'Users' %}</a></li>
        <li><a href="#">{% trans 'Clubs' %}</a></li>
        <li><a href="#">{% trans 'Federations' %}</a></li>
    </ul>
</li>
{% endif %} -->
<!-- {% if perms.clubs.club_admin %}
<li class="{{ menu_clubs }}">
    <a href="{% url 'clubs:base_club' %}" class="btn">
        {% if ui_elements.sidebar__club_panel %}
            {{ ui_elements.sidebar__club_panel }}
        {% else %}
            <i class="fa fa-television"></i>
        {% endif %}
        <span>{% trans '«Club» panel' %}</span>
    </a>
</li>
{% endif %} -->
<!-- {% if perms.federations.federation_admin %}
<li>
    <a href="#" class="btn disabled">
        {% if ui_elements.sidebar__federation_panel %}
            {{ ui_elements.sidebar__federation_panel }}
        {% else %}
            <i class="fa fa-television"></i>
        {% endif %}
        <span>{% trans '«Federation» panel' %}</span>
    </a>
</li>
{% endif %} -->
<!-- <li class="menu-title">
    <span>{% trans 'Main sections' %}</span>
</li> -->
<li class="{{ menu_profile }}">
    <a href="{% url 'users:profile' %}" class="btn">
        {% if ui_elements.sidebar__profile %}
            {{ ui_elements.sidebar__profile }}
        {% else %}
            <i class=""></i>
        {% endif %}
        <span>{% translate "My Profile" %}</span>
    </a>
</li>
{#{% if perms.helper_football.view_userarticle or perms.helper_football.view_clubarticle %}#}
{#<li class="{{ menu_helper_football }}">#}
{#    <a href="{% url 'helper_football:helper_football' %}" class="btn">#}
{#        {% if ui_elements.sidebar__helper_football %}#}
{#            {{ ui_elements.sidebar__helper_football }}#}
{#        {% else %}#}
{#            <i class="fa fa-book"></i>#}
{#        {% endif %}#}
{#        <span>{% trans 'Helper' %} 1</span>#}
{#    </a>#}
{#</li>#}
{#{% endif %}#}
{#{% if perms.helper_site.view_userarticle or perms.helper_site.view_clubarticle %}#}
{#<li class="{{ menu_helper_site }}">#}
{#    <a href="{% url 'helper_site:helper_site' %}" class="btn">#}
{#        {% if ui_elements.sidebar__helper_site %}#}
{#            {{ ui_elements.sidebar__helper_site }}#}
{#        {% else %}#}
{#            <i class="fa fa-book"></i>#}
{#        {% endif %}#}
{#        <span>{% trans 'Helper' %} 2</span>#}
{#    </a>#}
{#</li>#}
{#{% endif %}#}
<!-- {% if perms.exercises.change_adminfolder or perms.exercises.change_userfolder or perms.exercises.change_clubfolder %}
<li class="{{ menu_exercises_folders }}">
    <a class="" href="{% url 'exercises:folders' %}" class="btn">
        {% if ui_elements.sidebar__methodology %}
            {{ ui_elements.sidebar__methodology }}
        {% else %}
            <i class="fa fa-folder-open"></i>
        {% endif %}
        <span>{% trans 'Folders' %}</span>
    </a>
</li>
{% endif %} -->
{% if perms.events.view_userevent or perms.events.view_clubevent %}
<li class="{{ menu_events }}">
    <a href="{% url 'events:base_events' %}" class="btn">
        {% if ui_elements.sidebar__events %}
            {{ ui_elements.sidebar__events }}
        {% else %}
            <i class="fa fa-calendar"></i>
        {% endif %}
        <span>{% trans 'Events' %}</span>
    </a>
</li>
{% endif %}
{% if perms.events.view_liteevent %}
<li class="{{ menu_levents }}">
    <a href="{% url 'events:lite_events' %}" class="btn">
        {% if ui_elements.sidebar__events %}
            {{ ui_elements.sidebar__events }}
        {% else %}
            <i class="fa fa-calendar"></i>
        {% endif %}
        <span>{% trans 'Events' %} +</span>
    </a>
</li>
{% endif %}
{% if perms.matches.view_usermatch or perms.matches.view_clubmatch %}
<li class="{{ menu_matches }}">
    <a href="{% url 'matches:base_matches' %}" class="btn">
        {% if ui_elements.sidebar__matches %}
            {{ ui_elements.sidebar__matches }}
        {% else %}
            <i class="fa fa-trophy"></i>
        {% endif %}
        <span>{% trans 'Matches' %}</span>
    </a>
</li>
{% endif %}
{% if perms.trainings.view_usertraining or perms.trainings.view_clubtraining %}
{#<li class="{{ menu_trainings }}">#}
{#    <a href="{% url 'trainings:base_trainings' %}" class="btn disabled">#}
{#        {% if ui_elements.sidebar__trainings %}#}
{#            {{ ui_elements.sidebar__trainings }}#}
{#        {% else %}#}
{#            <i class="fa fa-calendar-o"></i>#}
{#        {% endif %}#}
{#        <span>{% trans 'Training' %}</span>#}
{#    </a>#}
{#</li>#}
{% endif %}
{% if perms.exercises.view_adminexercise or perms.exercises.view_userexercise or perms.exercises.view_clubexercise %}
<li class="{{ menu_exercises }}">
    <a href="{% url 'exercises:exercises' %}">
        {% if ui_elements.sidebar__exercises %}
            {{ ui_elements.sidebar__exercises }}
        {% else %}
            <i class="fa fa-futbol-o"></i>
        {% endif %}
        <span>{% trans 'Exercises' %}</span>
    </a>
</li>
{% endif %}
{% if perms.players.view_userplayer or perms.players.view_clubplayer %}
<li class="{{ menu_players }}">
    <a href="{% url 'players:players' %}" class="btn">
        {% if ui_elements.sidebar__players %}
            {{ ui_elements.sidebar__players }}
        {% else %}
            <i class="icon-custom icon--players" style="--i-w: 1.3em; --i-h: 1.3em;"></i>
        {% endif %}
        <span>{% trans 'Players' %}</span>
    </a>
</li>
{% endif %}
{% if perms.players.view_parents %}
<li class="{{ menu_parents }}">
    <a href="{% url 'players:parents' %}" class="btn">
        {% if ui_elements.sidebar__parents %}
            {{ ui_elements.sidebar__parents }}
        {% else %}
            <i class="icon-custom" style="--i-w: 1.3em; --i-h: 1.3em;"></i>
        {% endif %}
        <span>Родители</span>
    </a>
</li>
{% endif %}

{#<li class="{{ menu_trainer }}">#}
{#    <a href="#" class="btn">#}
{#        {% if ui_elements.sidebar__trainer %}#}
{#            {{ ui_elements.sidebar__trainer }}#}
{#        {% else %}#}
{#            <i class="icon-custom" style="--i-w: 1.3em; --i-h: 1.3em;"></i>#}
{#        {% endif %}#}
{#        <span>Тренер</span>#}
{#    </a>#}
{#</li>#}
{#<li class="{{ menu_leader }}">#}
{#    <a href="#" class="btn">#}
{#        {% if ui_elements.sidebar__leader %}#}
{#            {{ ui_elements.sidebar__leader }}#}
{#        {% else %}#}
{#            <i class="icon-custom" style="--i-w: 1.3em; --i-h: 1.3em;"></i>#}
{#        {% endif %}#}
{#        <span>Руководитель</span>#}
{#    </a>#}
{#</li>#}

{% if perms.matches.analytics_usermatch or perms.matches.analytics_clubmatch or perms.trainings.analytics_usertraining or perms.trainings.analytics_clubtraining %}
<li class="{{ menu_analytics }}">
    <a href="{% url 'analytics:analytics' %}" class="btn">
        {% if ui_elements.sidebar__analytics %}
            {{ ui_elements.sidebar__analytics }}
        {% else %}
            <i class="fa fa-line-chart"></i>
        {% endif %}
        <span>{% trans 'Analytics' %}</span>
    </a>
</li>
{% endif %}
{% if perms.medicine.view_usermedicinediagnosis or perms.medicine.view_clubmedicinediagnosis %}
<li class="{{ menu_medicine }}">
    <a href="{% url 'medicine:base_medicine' %}" class="btn">
        {% if ui_elements.sidebar__medicine %}
            {{ ui_elements.sidebar__medicine }}
        {% else %}
            <i class="fa fa-line-chart"></i>
        {% endif %}
        <span>{% trans 'Medicine' %}</span>
    </a>
</li>
{% endif %}
{% if user.is_superuser %}
<li class="submenu">
    <a href="#">
        {% if ui_elements.sidebar__applications %}
            {{ ui_elements.sidebar__applications }}
        {% else %}
            <!-- <i class="fa fa-product-hunt"></i> -->
        {% endif %}
        <span>{% trans 'Applications' %}</span>
        <span class="menu-arrow"></span>
    </a>
    <ul style="display: none;">
        <li><a href="#">{% trans 'Mailing' %}</a></li>
        <li><a href="#">{% trans 'Chat' %}</a></li>
        <li><a class="{{ menu_video }}" href="{% url 'video:base_video' %}">{% trans 'Video' %}</a></li>
        <li><a href="#">{% trans 'Tests' %}</a></li>
        <li><a href="#">{% trans 'Finance' %}</a></li>
    </ul>
</li>
{% endif %}
{% if perms.methodology.view_adminarticle %}
<li class="menu-title">
    <span>{% trans 'Education' %}</span>
</li>
{% endif %}
{% if perms.methodology.view_adminarticle %}
<li class="{{ menu_methodology }}">
    <a href="{% url 'methodology:methodology' %}" class="btn">
        {% if ui_elements.sidebar__methodology %}
            {{ ui_elements.sidebar__methodology }}
        {% else %}
            <i class="fa fa-book"></i>
        {% endif %}
        <span>{% trans 'Methodology' %}</span>
    </a>
</li>
{% endif %}
{% if user.is_superuser %}
<li>
    <a href="#" class="btn disabled">
        {% if ui_elements.sidebar__courses %}
            {{ ui_elements.sidebar__courses }}
        {% else %}
            <i class="fa fa-list-alt"></i>
        {% endif %}
        <span>{% trans 'Courses' %}</span>
    </a>
</li>
{% endif %}
