{% load i18n %}
{% load static %}


<form id="add-user-form">
    <div class="row form-row">
        <div class="col-sm-6">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Last name'%}</label>
                <div class="col">
                    <input type="text" name="last_name" class="form-control form-control-sm" value="" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'First name'%}</label>
                <div class="col">
                    <input type="text" name="first_name" class="form-control form-control-sm" value="" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Father name'%}</label>
                <div class="col">
                    <input type="text" name="father_name" class="form-control form-control-sm" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Date of Birth'%}</label>
                <div class="col">
                    <input type="text" name="date_birthsday" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Job title'%}</label>
                <div class="col">
                    <input type="text" name="job_title" class="form-control form-control-sm" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Club title'%}</label>
                <div class="col">
                    <input type="text" name="club_title" class="form-control form-control-sm" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Phone'%}</label>
                <div class="col">
                    <input id="phone" name="phone" type="tel" value="" class="form-control form-control-sm" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'License'%}</label>
                <div class="col">
                    <select name="trainer_license" id="trainer_license-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for license in trainer_license %}
                            <option value="{{ license.id }}">{{ license.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">---</label>
                <div class="col">
                    <input type="text" name="license" class="form-control form-control-sm" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'License period'%}</label>
                <div class="col">
                    <input type="text" name="license_date" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Country'%}</label>
                <div class="col">
                    {% load countries %}
                    {% get_countries as countries %}
                    <select name="country_id" id="country-select" class="form-control" required>
                        {% for country in countries %}
                            <option value="{{ country.code }}" {% if user.personal.country_id == country.code %} selected {% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Region'%}</label>
                <div class="col">
                    <input type="text" name="region" class="form-control form-control-md" value="" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'City'%}</label>
                <div class="col">
                    <input type="text" name="city" class="form-control form-control-md" value="" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Email'%}</label>
                <div class="col">
                    <input type="text" name="email" class="form-control form-control-sm" value="" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Club'%}</label>
                <div class="col">
                    <select name="club_id" id="club-create-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for club in clubs %}
                            <option value="{{ club.id }}">{{ club.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label" for="p_version-create-select">{% trans 'Version'%}</label>
                <div class="col">
                    <select name="p_version" id="p_version-create-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for version in versions %}
                            <option value="{{ version.id }}">{{ version.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Access to'%}</label>
                <div class="col">
                    <input type="text" name="registration_to" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="" autocomplete="off" required>

                </div>
            </div>
        </div>
    </div>
    <button id="add-user-button" type="button" class="btn btn-success btn-block">{% trans 'Create'%}</button>
</form>