{% load i18n %}
{% load static %}


<form id="edit-club-form">
    <div class="row form-row">
        {% if user.is_superuser %}
        <div class="offset-4 col-4">
            <img src="" class="img-thumbnail club-image" alt="Club logo">
        </div>
        <div class="col-sm-12">
            <div class="form-group mb-1">
                <label class="">{% trans 'Logo'%}</label>
                <input type="file" name="image" class="form-control form-control-sm" value="" accept=".png,.jpg,.jpeg" autocomplete="off">
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Title'%}</label>
                <div class="col">
                    <input type="text" name="name" class="form-control form-control-sm" value="{{ club.name }}" autocomplete="off" required>
                </div>
            </div>
        </div>
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Subdomain'%}</label>
                <div class="col">
                    <input type="text" name="subdomain" class="form-control form-control-sm" value="{{ club.subdomain }}" autocomplete="off" required>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Federation'%}</label>
                <div class="col">
                    <select name="federation_id" id="club-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for federation in federations %}
                            <option value="{{ federation.id }}">{{ federation.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting'%}">
                <label class="col col-form-label" for="teams-players-input">{% trans 'Teams'%}</label>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" name="team_limit" class="form-control form-control-sm" value="{{ club.team_limit }}" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting'%}">
                <label class="col col-form-label" for="teams-players-input">{% trans 'Players'%}</label>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" name="player_limit" class="form-control form-control-sm" value="{{ club.player_limit }}" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting'%}">
                <label class="col col-form-label" for="teams-players-input">{% trans 'Users'%}</label>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" name="user_limit" class="form-control form-control-sm" value="{{ club.user_limit }}" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Registration'%}</label>
                <div class="col">
                    <input type="text" name="date_registration" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ club.date_registration|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting'%}">
                <label class="col col-form-label">{% trans 'Access to'%}</label>
                <div class="col">
                    <input type="text" name="date_registration_to" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ club.date_registration_to|date:"d/m/Y"}}" autocomplete="off" required>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <button id="edit-club-button" type="submit" class="btn btn-success btn-block">{% trans 'Save Changes'%}</button>
</form>