{% load i18n %}
{% load static %}


<form id="change-password-form">
    <div class="form-group">
        <label>{% trans 'Old Password'%}</label>
        <input type="password" name="old_password" class="form-control">
    </div>
    <div class="form-group">
        <label>{% trans 'New Password'%}</label>
        <input id="new_password" type="password" name="password" class="form-control">
    </div>
    <div class="form-group">
        <label>{% trans 'Confirm Password'%}</label>
        <input type="password" name="password2" class="form-control">
    </div>
    <button id="edit-password-button" class="btn btn-primary" type="button">{% trans 'Save Changes'%}</button>
    <p>
        <span class="badge badge-info">{% trans 'If you change your password, you will need to log in again'%}.</span>
    </p>
</form>