{% load i18n %}
{% load static %}


<form id="edit-user-form">
    <div class="row form-row">
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Email'%}</label>
                <div class="col">
                    <input type="text" name="email" class="form-control form-control-sm edit-input" value="{{ user.email }}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Club'%}</label>
                <div class="col">
                    <select name="club_id" id="club-select" class="form-control form-control-sm edit-input" disabled>
                        <option value="">{% trans "No" %}</option>
                        {% for club in clubs %}
                            <option value="{{ club.id }}">{{ club.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label" for="p_version-select">{% trans 'Version'%}</label>
                <div class="col">
                    <select name="p_version" id="p_version-select" class="form-control form-control-sm edit-input" disabled>
                        <option value="">{% trans "No" %}</option>
                        {% for version in versions %}
                            <option value="{{ version.id }}">{{ version.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Registration'%}</label>
                <div class="col">
                    <input type="text" name="date_joined" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ user.date_joined|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Last login'%}</label>
                <div class="col">
                    <input type="text" name="date_last_login" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ user.date_last_login|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Access to'%}</label>
                <div class="col">
                    <input type="text" name="registration_to" class="form-control form-control-sm datetimepicker edit-input" data-toggle="datetimepicker" value="{{ user.registration_to|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Distributor'%}</label>
                <div class="col">
                    <input type="text" name="distributor" class="form-control form-control-sm edit-input" value="{{ user.distributor }}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Demo version'%}</label>
                <div class="col">
                    <input type="checkbox" name="is_demo_mode" class="form-control form-control-sm edit-input" value="on" autocomplete="off" disabled>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <button id="edit-user-button" type="button" class="btn btn-success btn-block edit-input" disabled>{% trans 'Save Changes'%}</button>
</form>