{% load i18n %}
{% load static %}


<form id="edit-user-form">
    <div class="row form-row">
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Email'%}</label>
                <div class="col">
                    <input type="text" name="email" class="form-control form-control-sm" value="{{ user.email }}" autocomplete="off" required>
                </div>
            </div>
        </div>
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Club'%}</label>
                <div class="col">
                    <select name="club_id" id="club-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for club in clubs %}
                            <option value="{{ club.id }}">{{ club.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting only for users without a club'%}">
                <label class="col col-form-label" for="p_version-select">{% trans 'Version'%}</label>
                <div class="col">
                    <select name="p_version" id="p_version-select" class="form-control form-control-sm">
                        <option value="">{% trans "No" %}</option>
                        {% for version in versions %}
                            <option value="{{ version.id }}">{{ version.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label" for="group-select">{% trans 'Group'%}</label>
                <div class="col">
                    <select name="group" id="group-select" class="form-control form-control-sm" data-tags="true">

                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting only for users without club and version'%}">
                <label class="col col-form-label" for="teams-players-input">{% trans 'Teams'%}</label>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" name="team_limit" class="form-control form-control-sm" value="{{ user.team_limit }}" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting only for users without club and version'%}">
                <label class="col col-form-label" for="teams-players-input">{% trans 'Players'%}</label>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" name="player_limit" class="form-control form-control-sm" value="{{ user.player_limit }}" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Main admin'%}</label>
                <div class="col">
                    <input type="checkbox" name="is_superuser" class="form-control form-control-sm" value="on" autocomplete="off">
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Active'%}</label>
                <div class="col">
                    <input type="checkbox" name="is_active" class="form-control form-control-sm" value="on" autocomplete="off">
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Registration'%}</label>
                <div class="col">
                    <input type="text" name="date_joined" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ user.date_joined|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Last login'%}</label>
                <div class="col">
                    <input type="text" name="date_last_login" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ user.date_last_login|date:"d/m/Y"}}" autocomplete="off" required disabled>
                </div>
            </div>
        </div>
        {% if perms.federations.federation_admin or user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1" title="{% trans 'Setting only for users without a club'%}">
                <label class="col col-form-label">{% trans 'Access to'%}</label>
                <div class="col">
                    <input type="text" name="registration_to" class="form-control form-control-sm datetimepicker" data-toggle="datetimepicker" value="{{ user.registration_to|date:"d/m/Y"}}" autocomplete="off" required>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Distributor'%}</label>
                <div class="col">
                    <input type="text" name="distributor" class="form-control form-control-sm" value="{{ user.distributor }}" autocomplete="off">
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="col-sm-12">
            <div class="form-group row mb-1">
                <label class="col col-form-label">{% trans 'Demo version'%}</label>
                <div class="col">
                    <input type="checkbox" name="is_demo_mode" class="form-control form-control-sm" value="on" autocomplete="off">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <button id="edit-user-button" type="button" class="btn btn-success btn-block">{% trans 'Save Changes'%}</button>
</form>