{% load i18n %}
{% load static %}


<form id="edit-personal-form">
    <div class="row form-row">
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'First name'%}</label>
                <input type="text" name="first_name" class="form-control form-control-sm edit-input" value="{{ user.personal.first_name }}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'Last name'%}</label>
                <input type="text" name="last_name" class="form-control form-control-sm edit-input" value="{{ user.personal.last_name }}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'Father name'%}</label>
                <input type="text" name="father_name" class="form-control form-control-sm edit-input" value="{% if user.personal.father_name %}{{ user.personal.father_name}}{% endif %}" autocomplete="off" disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'Spare email'%}</label>
                <input type="email" name="email_2" class="form-control form-control-sm edit-input" value="{% if user.personal.email_2 %}{{ user.personal.email_2}}{% endif %}" autocomplete="off" disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'Phone'%}</label>
                <input id="phone" name="phone" type="tel" value="{% if user.personal.phone %}{{ user.personal.phone}}{% endif %}" class="form-control form-control-sm edit-input" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-1">
                <label>{% trans 'Spare phone'%}</label>
                <input id="phone_2" name="phone_2" type="tel" value="{% if user.personal.phone_2 %}{{ user.personal.phone_2}}{% endif %}" class="form-control form-control-sm edit-input" autocomplete="off" disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'Date of Birth'%}</label>
                <input type="text" name="date_birthsday" class="form-control form-control-sm datetimepicker edit-input" data-toggle="datetimepicker" value="{{ user.personal.date_birthsday|date:"d/m/Y" }}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'Job title'%}</label>
                <input type="text" name="job_title" class="form-control form-control-sm edit-input" value="{% if user.personal.job_title %}{{ user.personal.job_title}}{% endif %}" autocomplete="off" disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'License'%}</label>
                <input type="text" name="license" class="form-control form-control-sm edit-input" value="{% if user.personal.license %}{{ user.personal.license}}{% endif %}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'License period'%}</label>
                <input type="text" name="license_date" class="form-control form-control-sm datetimepicker edit-input" data-toggle="datetimepicker" value="{{ user.personal.license_date|date:"d/m/Y" }}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12">
            <h5 class="form-title"></h5>
        </div>
        <div class="col-12">
            <div class="form-group mb-1">
            <label>{% trans 'Country'%}</label>
                {% load countries %}
                {% get_countries as countries %}
                <select name="country_id" id="country-select" class="form-control edit-input" required disabled>
                    {% for country in countries %}
                        <option value="{{ country.code }}" {% if user.personal.country_id == country.code %} selected {% endif %}>{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'Region'%}</label>
                <input type="text" name="region" class="form-control form-control-md edit-input" value="{% if user.personal.region %}{{ user.personal.region}}{% endif %}" autocomplete="off" required disabled>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group mb-2">
                <label>{% trans 'City'%}</label>
                <input type="text" name="city" class="form-control form-control-md edit-input" value="{% if user.personal.city %}{{ user.personal.city}}{% endif %}" autocomplete="off" required disabled>
            </div>
        </div>
    </div>
    <button id="edit-profile-button" type="button" class="btn btn-success btn-block edit-input" disabled>{% trans 'Save Changes'%}</button>
</form>