{% load i18n %}
{% load static %}

<div id="permission-block" class="row">
    <div class="col-12">
        <div class="row permission-row border">
            <div class="col-12">
                <div class="row bg-light text-dark">
                    <div class="col-4 px-2 text-nowrap">
                        <span class="float-left">События</span> <span class="float-right"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_view">
                            <label class="custom-control-label" for="events_view">Просмотр</label>
                        </div>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_edit">
                            <label class="custom-control-label" for="events_edit">Правки</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_view">
                            <label class="custom-control-label" for="events_view">Копирование события</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_edit">
                            <label class="custom-control-label" for="events_edit">Генерация Презентаций</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row permission-row border">
            <div class="col-12">
                <div class="row bg-light text-dark">
                    <div class="col-4 px-2 text-nowrap">
                        <span class="float-left">Тренировки</span> <span class="float-right"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_view">
                            <label class="custom-control-label" for="events_view">Просмотр</label>
                        </div>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_edit">
                            <label class="custom-control-label" for="events_edit">Правки</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_view">
                            <label class="custom-control-label" for="events_view">Протокол тренировки</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row permission-row border">
            <div class="col-12">
                <div class="row bg-light text-dark">
                    <div class="col-4 px-2 text-nowrap">
                        <span class="float-left">Микроциклы</span> <span class="float-right"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_view">
                            <label class="custom-control-label" for="events_view">Просмотр</label>
                        </div>
                    </div>
                    <div class="col-4 px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="events_edit">
                            <label class="custom-control-label" for="events_edit">Правки</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>