<div class="modal fade" id="matchVideoModal" tabindex="-1" role="dialog" aria-labelledby="matchVideoModalLbl" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>Видео</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body" data-id="">
                <div class="row d-flex align-items-center">
                    <div class="col-1 h-100">
                        <a class="carousel-control-prev w-100" href="#carouselVideo" role="button" data-slide="prev">
                            <span class="carousel-nav-icon carousel-nav-icon-custom">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-10 h-100 d-flex justify-content-center">
                        <div id="carouselVideo" class="carousel slide mt-4" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video id="" class="video-js resize-block video-empty">
                                    </video>
                                    <input class="form-control form-control-sm" name="video_link" value="" placeholder="Ссылка на видео" type="text" autocomplete="off">
                                    <textarea class="form-control form-control-sm" name="video_note" placeholder="Примечание к видео" type="text" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 h-100">
                        <a class="carousel-control-next w-100" href="#carouselVideo" role="button" data-slide="next">
                            <span class="carousel-nav-icon carousel-nav-icon-custom">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="alert-container">
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="save">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
