#print-training-block input{
    height: calc(1em + 0.5rem + 2px) !important;
    background: none;
}
#print-training-block input{
    height: calc(1em + 0.5rem + 2px) !important;
    background: none;
}
#print-training-block exercise-print-col{
    height: calc(1em + 0.5rem + 2px) !important;
    background: none;
}
#print-training-block label{
    padding: 0px !important;
    height: calc(1em + 0.5rem + 2px) !important;
    background: none;
}


#print-training-block textarea{
    background: none;
}

#print-training-block border{
    border: 1px solid black;
}

#print-training-block textarea{
    overflow: hidden;
}

.hide-placeholder::-webkit-input-placeholder{
    opacity: 0;
}
.hide-placeholder::-moz-placeholder{
    opacity: 0;
}
.hide-placeholder:-moz-placeholder{
    opacity: 0;
}
.hide-placeholder:-ms-input-placeholder{
    opacity: 0;
}
