.nav-warning.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    font-weight: bold;
    background-color: #f1d42a;
}

.nav-warning.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: black;
    font-weight: bold;
    background-color: #f7f28e;
}

.group-filter-card.active{
    font-weight: bold;
    color: black !important;
}
.exs-filter-card.active{
    font-weight: bold;
    color: black !important;
}