.nav-warning.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    color: darkred !important;
    background: #f9db48 !important;
}

.nav-warning.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: black;
    background-color: lightblue;
}


.group-filter-card{
    color: black !important;
    background: white !important;
}
.exs-filter-card{
    color: black !important;
    background: lightblue !important;
}
.group-filter-card.active{
    font-weight: bold;
    color: darkred !important;
    background: #ffe3af !important;
}
.exs-filter-card.active{
    font-weight: bold;
    color: darkred !important;
    background: #f9db48 !important;
}

.btn-lightblue{
    color: black !important;
    background: lightblue !important;
}
.btn-lightblue.active{
    font-weight: bold;
    color: darkred !important;
    background: #f9db48 !important;
}



.training-exercise-title{
    background: #87d7e3;
    border: 1px solid white !important;
}

.training-exercise-title-white{
    background: white;
    border: 1px solid black !important;
}

.training-exercise-additional{
    background-color: #d5d5d5;
    color: #5a6268 !important;
    border: 1px solid white !important;
}
.training-exercise-additional-data{
    background-color: #ececec;
    color: #1f1f24 !important;
    border: 1px solid white !important;
}

.bg-lightgray{
    background-color: #d1d1d1 !important;
}

input.btn-primary.disabled, input.btn-primary:disabled {
    opacity: unset;
}
input.btn-primary, input.btn-primary {
    opacity: .8;
}

input.btn-primary::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
input.btn-primary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
input.btn-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
input.btn-primary:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
input.btn-primary::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
input.btn-primary::placeholder { /* Most modern browsers support this now. */
   color: white;
}