.nav-warning.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    color: darkred !important;
    background: #f9db48 !important;
}

.nav-warning.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: black;
    background-color: lightblue;
}


.group-filter-card{
    color: black !important;
    background: white !important;
}
.exs-filter-card{
    color: black !important;
    background: #e1e3e7 !important;

}
.group-filter-card.active{
    font-weight: bold;
    border: 2px solid black !important;
    #color: darkred !important;
    background: #ffe3af !important;
}
.exs-filter-card.active{
    font-weight: bold;
    border: 2px solid black !important;
    #color: darkred !important;
    #background: #f9db48 !important;
}

.btn-lightblue{
    color: black !important;
    background: lightblue !important;
}
.btn-lightblue.active{
    font-weight: bold;
    color: darkred !important;
    background: #f9db48 !important;
}

.training-filter-edit{
    border: 2px solid dodgerblue !important;
}
.training-filter-edit:focus{
    border: 2px solid indianred !important;
}

.training-filter-edit::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: dodgerblue;
    opacity: 1; /* Firefox */
}

.training-filter-edit:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: dodgerblue;
}

.training-filter-edit::-ms-input-placeholder { /* Microsoft Edge */
    color: dodgerblue;
 }

.training-exercise-title{
    background: #b5b5b4;
    border: 1px solid white !important;
}

.training-exercise-title-white{
    background: white;
    border: 1px solid black !important;
}

.training-exercise-additional{
    background-color: #d5d5d5;
    color: #5a6268 !important;
    border: 1px solid white !important;
}
.training-exercise-additional-data{
    background-color: #ececec;
    color: #1f1f24 !important;
    border: 1px solid white !important;
}

.bg-lightgray{
    background-color: #d1d1d1 !important;
}

input.btn-primary.disabled, input.btn-primary:disabled {
    opacity: unset;
}
input.btn-primary, input.btn-primary {
    opacity: .8;
}

input.btn-primary::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
input.btn-primary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
input.btn-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
input.btn-primary:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
input.btn-primary::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
input.btn-primary::placeholder { /* Most modern browsers support this now. */
   color: white;
}

.bg-disabled{
    background-color: #e9ecef;
}

.block-select2 .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .25rem);
    color: #6c757d;
}
.block-select2 .select2-container--bootstrap4 .select2-selection {
    border: 2px solid dodgerblue;
}
.block-select2 .select2-container--bootstrap4.select2-container--focus .select2-selection {
    border: 2px solid dodgerblue;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block-select2 .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #ececec;
    font-weight: bold;
    padding-right: 5px;
}

.base-select2 .select2-container .select2-selection--single {
    border: 2px solid dodgerblue;
    border-radius: 0px;
}
.base-select2 .select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.5em + 0.4rem + 2px) !important;
}
.base-select2 .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .25rem);
    color: #6c757d;
}
.base-select2 .select2-container--bootstrap4 .select2-selection {
    border: 2px solid dodgerblue;
    background-color: #007bff;
}
.base-select2 .select2-container--bootstrap4.select2-container--focus .select2-selection {
    border: 2px solid dodgerblue;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.base-select2 .select2-container--bootstrap4 .select2-selection--multiple .select2-search__field {
    color: white;
    background-color: #007bff;
}
.base-select2 .select2-container--bootstrap4 .select2-search__field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
.base-select2 .select2-container--bootstrap4 .select2-search__field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
.base-select2 .select2-container--bootstrap4 .select2-search__field::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}
.base-select2 .select2-container--bootstrap4 .select2-search__field:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
.base-select2 .select2-container--bootstrap4 .select2-search__field::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

.base-select2 .select2-container--bootstrap4 .select2-search__field::placeholder { /* Most modern browsers support this now. */
   color: white;
}
.base-select2 .select2-container--bootstrap4 .select2-selection__clear {
    float: right;
    width: 1.1em;
    height: 1.1em;
    padding-left: 0em;
    padding-top: 0.25rem;
    margin-top: 0.4em;
    margin-right: 0.3em;
    line-height: .75em;
    color: #f8f9fa;
    background-color: #c8c8c8;
    border-radius: 100%;
}

/*.base-select2 .select2-container--bootstrap4 .select2-selection--multiple {*/
/*    height: calc(1.5em + 0.4rem + 2px) !important;*/
/*}*/

.base-select2 .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #ececec;
    font-weight: bold;
    padding-right: 5px;
}

.base-select2 .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    color: black;
}


#objectives-table .select2-container--bootstrap4 .select2-selection--single {
    height: 26px !important;
}
#objectives-table .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .25rem);
    color: #6c757d;
}
#objectives-table .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
     line-height: normal;
}
#objectives-table .select2-container--bootstrap4 .select2-selection__clear {
    margin-top: 0.3em;
    padding-left: 0.2em;
    line-height: 0.95em;
}

.objective-modal-filters .select2-container--bootstrap4 .select2-selection__clear {
    padding-left: 0.19em;
    line-height: 0.95em;
}

.select2-container--bootstrap4 .select2-selection__clear {
    padding-left: 0.18em;
    line-height: 1.1em;
}