input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.ui-state-highlight {
	background: orange;
	height: 30px;
}

.ui-sortable:not(.ui-sortable-disabled) .exercise-row:hover{
	cursor: grab;
}
.ui-sortable:not(.ui-sortable-disabled) .exercise-row:active{
	cursor: grabbing;
}

.red-select{
	color: red !important;
}
.black-select{
	color: black;
}