input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.ui-state-highlight {
	background: orange;
	height: 30px;
}

.ui-sortable:not(.ui-sortable-disabled) .exercise-row:hover{
	cursor: grab;
}
.ui-sortable:not(.ui-sortable-disabled) .exercise-row:active{
	cursor: grabbing;
}

input[name="duration"][value='0']{
	color: red !important;
	font-weight: bold;
}
input[name="duration"]{
	color: black;
}

.red-select{
	color: red !important;
}
.black-select{
	color: black;
}