{% load i18n %}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="notification-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center main-info-col">№</th>
                        <th class="text-center main-info-col">{% trans 'Title' %}</th>
                        <th class="text-center main-info-col ">{% trans 'Date update' %}</th>
                        <th class="text-center side-info-col "></th>
                        <th class="text-center side-info-col "></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>