{% load static %}
{% load i18n %}

<div class="modal fade" id="videoSelectorModal" tabindex="-1" role="dialog" aria-labelledby="videoSelectorModalLbl" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 88vw !important;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 video-filter-container mb-2">
                        <div class="row">
                            <div class="col-md-1 col-lg-1">
                                <div class="row">
                                    <div class="col-12">
                                        <button id="video-filters-clear" class="btn btn-secondary btn-block font-weight-bold">
                                            <i class="fa fa-reply" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                                <select class="select form-control form-control-sm video-source" data-theme="bootstrap4">
                                    <option value="">{% trans 'All' %}</option>
                                    {% for source in video_params.sources %}
                                        <option value="{{ source.name }}" data-count="{{ source.videos }}">{{ source.name }}</option>
                                    {% empty %}
                                        <option value="">{% trans 'No sources' %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                                <select class="select form-control form-control-sm exercise-folder" data-theme="bootstrap4">
                                    <option value="">{% trans 'All' %}</option>
                                    {% for folder in video_params.folders %}
                                        <option value="{{ folder.short_name }}">{{ folder.name }}</option>
                                    {% empty %}
                                        <option value="">{% trans 'No sources' %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 col-lg-2 px-1 form-select-sm">
                                <select class="select form-control form-control-sm video-tags-filter" multiple data-theme="bootstrap4">
                                    {% for tag in video_params.tags %}
                                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                                    {% empty %}
                                        <option value="">{% trans 'No tags' %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                                <input type="search" class="form-control video-search" placeholder="Поиск" aria-controls="video">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 video-list-container">
                                {% include 'video/modules/video_list.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-0 mt-2 w-100">
                                    <video id="video-player-modal" class="video-js resize-block not-active">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group w-100">
                    <input type="text" class="form-control video-link btn-block mx-1" placeholder="" aria-controls="">
                    <button type="button" class="btn btn-success btn-copy btn-block mt-0 mx-1 size-max-w-x" style="--w-max-x:12%;">Скопировать</button>
                    <button type="button" class="btn btn-secondary btn-block mt-0 mx-1 size-max-w-x" data-dismiss="modal" style="--w-max-x:12%;">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>