{% load i18n %}

<div class="table-responsive">
    <table id="video-exercises" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>ID</th>
                <th>{% trans 'Exercise' %}</th>
                <th>{% trans 'Folder' %}</th>
                <th>{% trans 'Source' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Minutes' %}</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Tags' %}</th>
            </tr>
        </thead>
    </table>
</div>