
div.side-filter-block {
    background-color: #e7e7e7;
    height: 80vh !important;
    overflow-y: auto;
}

.side-filter-elem.active {
    background-color: #5a6268 !important;
    border-color: #5a6268 !important;
    font-weight: bold;
}

.visual-block {
    width: 40%;
}


.split {
    display: flex;
    flex-direction: row;
}
.gutter {
    background-color: #ff5640;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}


.size-w-x {
    width: var(--w-x) !important;
}
.size-min-w-x {
    min-width: var(--w-min-x) !important;
}
.size-max-w-x {
    max-width: var(--w-max-x) !important;
}

.row-select.active > .row-select-td {
    background-color: #007bff;
}

.card-inside {
    height: 86vh !important;
    overflow-y: auto;
}

.folders_list {
    height: 72vh !important;
    overflow-y: auto;
}
.exs-list-group {
    height: 72vh !important;
    overflow-y: auto;
}

.vert-line-left {
    border-left: 2px solid black;
}
.vert-line-right {
    border-right: 2px solid black;
}


.container-custom-inline {
    overflow: auto;
    white-space:nowrap;
}
.container-custom-inline > div {
    display: inline-block;
}

