{% extends '../base/app_main.html' %}

{% block title %}Add Video{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Добавление видео
                </div>
                <div class="card-body">
                    {% load crispy_forms_tags %}
                    <main class="form-create-video">
                        <form method="POST">
                            {% csrf_token %}
                            {{ create_form|crispy }}
                            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Save</button>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}