{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'video/css/base_video.css' %}">
{% endblock %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-6 col-6 px-1">
                                    <button id="add-video" class="btn btn-sm btn-outline-success btn-block" title="{% trans "Add video" %}">+</button>
                                </div>
                                <div class="col-6 col-6 px-1">
                                    <a href="#" class="btn btn-sm btn-outline-success btn-block disabled" title="{% trans "Parse video" %}">+</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-7 px-1">
                                    <button id="video-table-counter" class="btn btn-sm btn-warning btn-block font-weight-bold px-0">0</button>
                                </div>
                                <div class="col-5 px-1">
                                    <button id="video-filters-clear" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-reply" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                            <select class="select form-control form-control-sm video-source" data-theme="bootstrap4">
                                <option value="">{% trans 'All' %}</option>
                                {% for source in sources %}
                                    <option value="{{ source.name }}" data-count="{{ source.videos }}">{{ source.name }}</option>
                                {% empty %}
                                    <option value="">{% trans 'No sources' %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                            <select class="select form-control form-control-sm exercise-folder" data-theme="bootstrap4">
                                <option value="">{% trans 'All' %}</option>
                                {% for folder in folders %}
                                    <option value="{{ folder.short_name }}">{{ folder.name }}</option>
                                {% empty %}
                                    <option value="">{% trans 'No sources' %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 px-1 form-select-sm">
                            <select class="select form-control form-control-sm video-tags-filter" multiple data-theme="bootstrap4">
                                {% for tag in tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% empty %}
                                    <option value="">{% trans 'No tags' %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--<div class="col-md-2 col-lg-2 px-1">
                            <input id="video-search" type="search" class="form-control form-control-sm" placeholder="{% trans "Search" %}" aria-controls="video">
                        </div>-->
                        <div class="col-md-1 col-lg-1">
                            <div class="row">
                                <!--<div class="col-3 px-1">
                                    <button id="video-folders-filter" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-folder" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-3 px-1">
                                    <button id="video-star-filter" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                </div>-->
                                <!--<div class="col-4 px-1">
                                    <button id="exercise-video-format" class="btn btn-sm btn-warning btn-block font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i></button>
                                </div>-->
                                <div class="col-6 px-1">
                                    <button id="change-format" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-6 px-1">
                                    <button id="video-settings" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                </div>
                                <!--<div class="col-3 px-1">
                                    <button id="video-delete" class="btn btn-sm btn-secondary btn-block font-weight-bold"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="row">
                        <div id="table-video-view" class="col-lg">
                            {% include 'video/modules/video_list.html' %}
                        </div>
                        <div id="block-video-view" class="col-lg d-none">
                            {% include 'video/modules/video_blocks_list.html' %}
                        </div>
                        <!--<div id="table-exercises-video-view" class="col-lg d-none">
                            {% include 'video/modules/video_list_exercises.html' %}
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'video/video_card.html' %}
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'video/js/exercises_video_list.js' %}"></script>
    <script src="{% static 'video/js/video_list.js' %}"></script>
    <script src="{% static 'video/js/video_blocks_list.js' %}"></script>
    <script src="{% static 'video/js/base_video.js' %}"></script>

{% endblock %}