{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form action="#">
                        <div class="row">
                            <!--<div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Раздел</option>
                                    <option>Упражнения</option>
                                    <option>NF.TV</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Статус</option>
                                    <option>Новые упр.</option>
                                    <option>Музыка</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Общий доступ</option>
                                    <option>Да</option>
                                    <option>Нет</option>
                                </select>
                            </div>
                            <div class="col-sm-1 px-0">
                                <select class="form-control form-control-sm">
                                    <option>V.A</option>
                                    <option>V</option>
                                    <option>A</option>
                                    <option>V.A</option>
                                </select>
                            </div>
                            <div class="col-sm-1 px-0">
                                <select class="form-control form-control-sm">
                                    <option>V.A</option>
                                    <option>V</option>
                                    <option>A</option>
                                    <option>V.A</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-0">
                                <a href="#" class="btn btn-info btn-sm btn-block">Импорт NF</a>
                            </div>
                            <div class="col-sm-2 px-0">
                                <a href="{% url 'video:add_video' %}" class="btn btn-success btn-sm btn-block">Добавить</a>
                            </div>-->
                            <div class="col-md-4 col-lg-3">
                                <select class="select custom-select video-source" tabindex="-1" aria-hidden="true">
                                    <option value="">{% trans 'All' %}</option>
                                    {% for source in object_list %}
                                        <option value="{{ source.short_name }}">{{ source.name }}</option>
                                    {% empty %}
                                        <option value="">{% trans 'No sources' %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8 col-lg">
                            <div class="table-responsive">
                                <table id="video" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Источник</th>
                                            <th>Название</th>
                                            <th>Теги</th>
                                            <th>Длительность</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="block-video-info" class="col-md-12 col-lg-3 d-none">
                            <div class="row">
                                <div class="col-sm-5">Источник</div>
                                <div data-name="videosource_id.name" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Раздел</div>
                                <div data-name="section_id.name" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Папка</div>
                                <div data-name="none" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Загрузка</div>
                                <div data-name="upload_date" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Вермя</div>
                                <div data-name="duration" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Ссылка</div>
                                <div data-name="none" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">ID</div>
                                <div data-name="id" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">№</div>
                                <div data-name="none" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">Файл</div>
                                <div data-name="none" class="col-sm-7 text-center"></div>
                            </div>
                                <!--<div class="col-sm-5">Спикер</div>
                                <div class="col-sm-7"></div>
                                <div class="col-sm-5">Текст</div>
                                <div class="col-sm-7"></div>
                                <div class="col-sm-5">Музыка</div>
                                <div class="col-sm-7"></div>
                                <div class="col-sm-5">Таблицы</div>
                                <div class="col-sm-7"></div>-->
                            <div class="row">
                                <div class="col-sm-5">Общ. доступ</div>
                                <div data-name="shared_access" class="col-sm-7 text-center"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <video id="youtube-player" class="video-js resize-block">
                                    </video>
                                    <video id="base-player" class="resize-block" +1playsinline="" controls="" style="width: 100%; max-height: 33vh;">
                                        <source src="https://213.108.4.28/video/player/1654865941907" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'video/forms/edit.html' %}
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'video/base_video.js' %}"></script>
{% endblock %}