{% extends '../base/app_main.html' %}

{% block title %}Video{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form action="#">
                        <div class="row">
                            <!--<div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Раздел</option>
                                    <option>Упражнения</option>
                                    <option>NF.TV</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Статус</option>
                                    <option>Новые упр.</option>
                                    <option>Музыка</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-0">
                                <select class="form-control form-control-sm">
                                    <option>Общий доступ</option>
                                    <option>Да</option>
                                    <option>Нет</option>
                                </select>
                            </div>
                            <div class="col-sm-1 px-0">
                                <select class="form-control form-control-sm">
                                    <option>V.A</option>
                                    <option>V</option>
                                    <option>A</option>
                                    <option>V.A</option>
                                </select>
                            </div>
                            <div class="col-sm-1 px-0">
                                <select class="form-control form-control-sm">
                                    <option>V.A</option>
                                    <option>V</option>
                                    <option>A</option>
                                    <option>V.A</option>
                                </select>
                            </div>-->
                            <div class="col-sm-2 px-0">
                                <a href="{% url 'video:add_video' %}" class="btn btn-success btn-sm btn-block">Добавить</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            {% for source in video_sources %}
                                <button type="button" class="btn btn-outline-dark btn-sm btn-block">{{ source.name }}</button>
                            {% empty %}
                                <h4>Нет источников</h4>
                            {% endfor %}
                        </div>
                        <div class="col-md-8 col-lg">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Источник</th>
                                            <th>Название</th>
                                            <th>Раздел</th>
                                            <th>Длительность</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for video in object_list %}
                                            <tr>
                                                <td>{{ video.videosource_id }}</td>
                                                <td>{{ video.name }}</td>
                                                <td>{{ video.section_id }}</td>
                                                <td>{{ video.duration }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5">Пусто</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3 d-none">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}