{% load i18n %}

<div id="video-card-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 1300px;">
        <div class="modal-content">
            <div class="modal-header py-1 d-block">
                <div class="row">
                    <div class="col-2 px-1">
                        <button type="button" class="btn btn-sm btn-block btn-warning font-weight-bold toggle-edit-mode view-button">
                            {% trans "Edit" %}
                        </button>
                        <button id="cancel-edit-button" type="button" class="btn btn-sm btn-block btn-warning font-weight-bold mt-0 toggle-edit-mode edit-button d-none">
                            {% trans "Cancel" %}
                        </button>
                    </div>
                    <div class="col-2 px-1">
                        <button type="button" class="btn btn-sm btn-block btn-success font-weight-bold edit-button d-none" id="save-video">
                            {% trans "Save" %}
                        </button>
                    </div>
                    <div class="offset-2 col-2 px-1">
                        <button type="button" class="btn btn-sm btn-block btn-danger font-weight-bold view-button" id="delete-video">
                            {% trans "Delete" %}
                        </button>
                    </div>
                    <div class="col-2 px-1">
                        <button type="button" id="previous-video" class="btn btn-sm btn-block btn-secondary font-weight-bold view-button"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-2 px-1">
                        <button type="button" id="next-video" class="btn btn-sm btn-block btn-secondary font-weight-bold view-button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5 video-data">
                        <form id="video-action-form" method="PUT" enctype="multipart/form-data">
                            <div class="row border-bottom border-dark">
                                <div class="col-12 text-center px-0">
                                    <input type="text" class="form-control form-control-sm text-center py-0 edit-input" name="name" placeholder="{% trans "Title" %}" style="height: auto" autocomplete="off" disabled>
                                </div>
                                <div class="col-12 text-center px-0" data-name="none">{% trans "Link to the source" %}</div>
                                <div class="col-12 text-center px-0">
                                    <input type="text" class="form-control form-control-sm text-center py-0 edit-input" name="youtube_link" placeholder="{% trans "Youtube link" %}" autocomplete="off" style="height: auto" disabled>
                                </div>
                                <div class="col-12 text-center px-0">
                                    <div class="custom-file">
                                        <input type="file" name="file_video" class="custom-file-input edit-input" id="video-file" accept=".MP4,.avi" disabled>
                                        <label class="custom-file-label" for="video-file">{% trans "New video file" %}</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center px-0">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <input type="number" class="form-control form-control-sm text-center py-0 edit-input" name="second_screensaver" placeholder="{% trans "A second of the screensaver" %}" style="height: auto" disabled>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <div class="custom-file">
                                                <input type="file" name="file_screen" class="custom-file-input edit-input" id="video-screensaver" accept=".jpg,.png" disabled>
                                                <label class="custom-file-label" for="video-screensaver">{% trans "New screensaver file" %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">№</div>
                                <div class="col-6 px-0 text-center" data-name="none"></div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">ID</div>
                                <div class="col-6 px-0 text-center" data-name="id"></div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Source" %}</div>
                                <div class="col-6 px-0 text-center form-select-sm">
                                    <select class="select custom-select edit-input" name="videosource_id" tabindex="-1" aria-hidden="true" disabled>
                                        {% for source in sources %}
                                            <option value="{{ source.id }}">{{ source.name }}</option>
                                        {% empty %}
                                            <option value="">{% trans 'No sources' %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Date" %}</div>
                                <div class="col-6 px-0 text-center" data-name="upload_date">---</div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Duration" %}</div>
                                <div class="col-6 px-0">
                                    <input type="text" class="form-control form-control-sm text-center py-0 edit-input" name="duration" placeholder="00:00:00" style="height: auto" disabled>
                                </div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Language (voice acting)" %}</div>
                                <div class="col-6 px-0 text-center form-select-sm">
                                    <select name="language" class="select custom-select edit-input" disabled>
                                        <option value="none">
                                            {% trans 'No' %}
                                        </option>
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Music" %}</div>
                                <div class="col-6 px-0 text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="music" value="on" class="custom-control-input edit-input" id="video-music-check" disabled>
                                        <label class="custom-control-label" for="video-music-check"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Sections" %}</div>
                                <div class="col-6 px-0 text-center">---</div>
                            </div>
                            <div class="row border-bottom border-secondary">
                                <div class="col-6 bg-default-light font-weight-bold">{% trans "Video / Animation" %}</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6 px-0">
                                            <div class="custom-control custom-checkbox px-0 d-flex justify-content-center">
                                                <input type="checkbox" value="on" class="custom-control-input edit-input" name="note_video" id="video-video-check" disabled>
                                                <label class="custom-control-label" for="video-video-check">{% trans "Video" %}</label>
                                            </div>
                                        </div>
                                        <div class="col-6 px-0">
                                            <div class="custom-control custom-checkbox px-0 d-flex justify-content-center">
                                                <input type="checkbox" value="on" class="custom-control-input edit-input" name="note_animation" id="video-animation-check" disabled>
                                                <label class="custom-control-label" for="video-animation-check">{% trans "Animation" %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 bg-default-light text-center font-weight-bold">{% trans "Tags" %}</div>
{#                                <div class="col-12 px-0 text-center">#}
{#                                    <input type="text" data-role="tagsinput" name="taggit" class="form-control edit-input" disabled>#}
{#                                </div>#}
                                <div class="col-12 px-0 text-center">
                                    <select name="taggit" class="select w-100 custom-select custom-select-sm tag-select edit-input" multiple data-tags="true" data-theme="bootstrap4" disabled>
                                        {% for tag in tags %}
                                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-7 px-0">
                        <video id="youtube-player" class="video-js resize-block" style="">
                        </video>
                        <video id="base-player" class="video-js resize-block" style="">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>