
.table-sm.padding-none td, .table-sm.padding-none th {
    padding: 0rem;
    text-align: center;
}

table.dataTable>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgb(230 230 230);
    color: black;
}

table.dataTable>tbody>tr.selected {
    border: 2px solid black;
}

tr.month_top_border{
    border-top: 1.05px solid black !important;
}

table.dataTable.table-hover>tbody>tr>*{
    background-color: #f1f1f1;
}
table.dataTable.table-hover>tbody>tr.selected:hover>*{
    box-shadow:inset 0 0 0 9999px rgba(215, 215, 215, 0.97)
}

a.matchButton0 {
    background: lightgreen;
}
a.matchButton1 {
    background: orange;
}



.carousel-nav-icon-custom{
    color: #000 !important;
    font-size: 2.5em;
}

.btn-lightgray{
    background-color: #d5d5d5;
    border: 2px solid rgb(100, 100, 100) !important;
    color: #5a6268;
}
.btn-lightgray:hover{
    background-color: #a6a6a6;
}
.btn-lightgray.active {
    background-color: #cdffcf !important;
    border-color: #4CAF50 !important;
}

.btn-filter-events{
    color: black;
    background-color: white;
    border: 2px solid dodgerblue !important;
}
.btn-filter-events:hover{
    background-color: #f5f5f5;
}
.btn-filter-events.active {
    background-color: #ececec !important;
    border-color: indianred !important;
}

.btn-reset-filter{
    background-color: #d5d5d5;
    border: 2px solid indianred !important;
    color: #5a6268;
}
.btn-reset-filter:hover{
    background-color: #a6a6a6;
}
.btn-reset-filter.active {
    background-color: #ececec !important;
    border-color: indianred !important;
}

.text-filter-events{
    border: 2px solid dodgerblue !important;
}
.text-filter-events:focus{
    border: 2px solid indianred !important;
}

.training-input {
    border: 2px solid dodgerblue !important;
}

.training-input:focus {
    border: 2px solid indianred !important;
}

.size-w-x {
    width: var(--w-x) !important;
}
.size-min-w-x {
    min-width: var(--w-min-x) !important;
}
.size-max-w-x {
    max-width: var(--w-max-x) !important;
}
.size-h-x {
    height: var(--h-x) !important;
}
.size-min-h-x {
    min-height: var(--h-min-x) !important;
}
.size-max-h-x {
    max-height: var(--h-max-x) !important;
}
.carousel-item.description-item {
    overflow-y: auto;
}

.mc-function .select2-container .select2-selection {
    border: 2px solid dodgerblue;
}
.objective-filters-block .select2-container .select2-selection {
    border: 2px solid dodgerblue;
    /*background-color: #007bff;*/
}
/*.objective-filters-block .select2-container .select2-selection__placeholder{*/
/*    color: white;*/
/*}*/
.mc-function .select2-container--bootstrap4 .select2-selection--single {
    height: auto !important;
}
.mc-function .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .35rem);
    white-space: normal;
}
.mc-function .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .35rem);
}
.mc-function .select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: indianred !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mc-function .select2-container--bootstrap4 .select2-selection--single .select2-selection__clear {
    float: right;
    width: 1.1em;
    height: 1.1em;
    padding-left: 0.3em;
    padding-top: 0.25rem;
    margin-top: 0.4em;
    margin-right: 0.3em;
    line-height: .75em;
    color: #f8f9fa;
    background-color: #c8c8c8;
    border-radius: 100%;
}

.mc-function .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #ececec;
    font-weight: bold;
    padding-right: 5px;
    float: none;
}

.mc-function .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    color: black;
}
.mc-function .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    white-space: normal;
}

.form-div .form-group{
    margin-bottom: 0.2rem;
}

.form-div [type="text"]{
    border: 1px solid dodgerblue;
}

.form-div .form-group label{
    margin-bottom: 0.8rem;
}

.select2-results__options{
    max-height: 20em !important;
}

#filters-row .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #3f3f3f;
    background-color: #fbda7e;
}

button.event-select.selected{
    background-color: #b8e5ff;
    border-color: #b1cde1;
    color: black;
}

.rescalendar-blocks-cells td:hover {
    cursor: pointer;
}

.rescalendar-blocks-cells .block_cell:hover {
    background-color: rgb(233, 243, 255);
}

.rescalendar-blocks-cells .block_cell.selected {
    background-color: lightblue;
    border: 2px solid black;
}