{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Registration on the Nanofootball website' %}</title>
</head>
<body>
    <a href="nanofootball.com">nanofootball.com</a><br>
    <p>{% trans 'To log in to the site, use this data.' %}</p>
    <p>
        Email: {{ email }} <br>
        {% trans 'Password' %}: {{ password }}
    </p>
        {% trans "Project leader" %}: Галямин Дмитрий Александрович, {% trans "tel" %}. <b>+7 909 150-33-22</b><br>
        {% trans "Project manager" %}: Киселёв Евгений, {% trans "tel" %}. <b>+7 953 502-58-39</b>
    </p><br>

</body>
</html>