div.btns-tabs-second, div.btn-tab-second {
    background-color: #f0f0f0;
}

div.side-filter-block {
    background-color: #e7e7e7;
}

.side-filter-elem.active {
    background-color: #ff9a9a !important;
}

.visual-block {
    width: 40%;
}


.split {
    display: flex;
    flex-direction: row;
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

