
.size-w-x {
    width: var(--w-x) !important;
}
.size-min-w-x {
    min-width: var(--w-min-x) !important;
}
.size-max-w-x {
    max-width: var(--w-max-x) !important;
}
.size-h-x {
    height: var(--h-x) !important;
}
.size-min-h-x {
    min-height: var(--h-min-x) !important;
}
.size-max-h-x {
    max-height: var(--h-max-x) !important;
}


.custom-table-hd {
    background-color: #527ae7;
    color: white;
    cursor: pointer;
}
.custom-table-hd > th {
    padding: 0.25rem !important;
}
.custom-table-hd > th.text-left > .hd-title {
    margin-left: 45vw;
    text-transform: uppercase !important;
}

.hide-row {
    display: none !important;
}
