@media screen and (min-width: 481px) {
    .c-block {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}



.carousel-control-custom {
    color: black !important;
    font-size: 2rem !important;
}

.px-custom-0 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}



th.dt-vertical-center, td.dt-vertical-center {
    vertical-align: middle !important;
}

.border-custom-left {
    border-left: black solid 2px !important;
}
.border-custom-right {
    border-right: black solid 2px !important;
}
.border-custom-x {
    border-left: black solid 2px !important;
    border-right: black solid 2px !important;
}

.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
.dataTable thead > tr > th.sorting_asc, 
.dataTable thead > tr > th.sorting_desc, 
.dataTable thead > tr > th.sorting, 
.dataTable thead > tr > td.sorting_asc, 
.dataTable thead > tr > td.sorting_desc, 
.dataTable thead > tr > td.sorting {
    /* padding-right: inherit !important; */
    padding-right: .3rem !important;
}

.dataTable > thead > tr > th.sorting_asc,
.dataTable > thead > tr > th.sorting_desc,
.dataTable > tbody > tr > td.sorting_1 {
    background-color: #ffce904f !important;
}
.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px #ffce904f !important;
    color: black !important;
}
