.scrollable-block {
    overflow-y: auto;
    height: var(--scroll) !important;
}


.season-toggle {
    min-width: 54px;
    max-width: 54px;
    font-size: 0.8rem;
}

.col-custom {
    -ms-flex: 0 0 var(--col-width) !important;
    flex: 0 0 var(--col-width) !important;
    max-width: var(--col-width) !important;
}

th.dt-vertical-center, td.dt-vertical-center {
    vertical-align: middle !important;
}


.border-custom-left {
    border-left: black solid 2px !important;
}
.border-custom-right {
    border-right: black solid 2px !important;
}
.border-custom-x {
    border-left: black solid 2px !important;
    border-right: black solid 2px !important;
}


.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
.dataTable thead > tr > th.sorting_asc, 
.dataTable thead > tr > th.sorting_desc, 
.dataTable thead > tr > th.sorting, 
.dataTable thead > tr > td.sorting_asc, 
.dataTable thead > tr > td.sorting_desc, 
.dataTable thead > tr > td.sorting {
    /* padding-right: inherit !important; */
    padding-right: .3rem !important;
}

.dataTable > thead > tr > th.sorting_asc,
.dataTable > thead > tr > th.sorting_desc,
.dataTable > tbody > tr > td.sorting_1 {
    background-color: #ffce904f !important;
}


.btn.toggle-tables.selected {
    opacity: 0.7;
    text-transform: uppercase;
}

