{% load i18n %}
{% load static %}

<div class="modal fade" id="form-event-modal" tabindex="-1" role="dialog" aria-labelledby="form-event-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form-event-modal-label">{% trans 'Event Create' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% load crispy_forms_tags %}
                <main class="form-event">
                    <form id="form-event" method="POST" autocomplete="off">
{#                        {% crispy event_form %}#}
                        <div class="form-group row mb-0">
                            <label for="input_short_name" class="col-md-6 col-form-label">{% trans "short name" %}</label>
                            <div class="col-md-6">
                                <input type="text" maxlength="4" name="short_name" class="form-control" id="input_short_name" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label for="id_event_type" class="col-md-6 col-form-label">{% trans "Event type" %}</label>
                            <div class="col-md-6">
                                <select name="event_type" class="select custom-select select2-hidden-accessible" id="id_event_type" required>
                                    <option value="">{% trans "---" %}</option>
                                    <option value="1">{% trans "Training" %}</option>
                                    <option value="5">{% trans "Trainings (two group)" %}</option>
                                    <option value="2">{% trans "Unofficial match" %}</option>
                                    <option value="3">{% trans "Official match" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label for="datetimepicker-event" class="col-md-6 col-form-label">{% trans "Date" %}</label>
                            <div class="col-md-6">
                                <input type="date" name="date" id="datetimepicker-event" autocomplete="off" class="datetimeinput form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label for="timepicker-event" class="col-md-6 col-form-label">{% trans "Time" %}</label>
                            <div class="col-md-6">
                                <input type="time" name="time" id="timepicker-event" autocomplete="off" class="timeinput form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-12">
                                <input type="submit" name="submit" value="Сохранить" class="btn btn-primary btn-block save" id="submit-id-submit">
                            </div>
                        </div>
                        <div id="event-link" class="form-group row mb-0">

                        </div>
                    </form>
                </main>
            </div>
            <div class="modal-footer block">
                <div class="event_type_block d-none" data-type="1,5">
                    {% include 'trainings/training_form.html' %}
                </div>

            </div>
            <div id="alert-update">

            </div>
        </div>
    </div>
</div>