{% load i18n %}
{% load static %}

<div>
    <div class="row pt-2 border-top">
        <div class="col-12">
            <button type="button" class="ml-3 btn btn-sm btn-primary create">
                <span aria-hidden="true">{% trans 'Create' %}</span>
            </button>
        </div>
        <div class="col-12">
            <form id="microcycles-form" method="post" class="d-none">
                <div class="row">
                    <div class="form-div col-md-2">
                        <div class="row">
                            <div class="form-div px-1 col-12">
                                <label for="select-microcycle-short_key">{% trans 'Short key' %}</label>
                                <select name="short_key" id="select-microcycle-short_key" class="form-control form-control-sm training-input" data-tags="true">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-div col-md-5">
                        <div class="row">
                            <div class="form-div col-12 px-1">
                                <label for="select-microcycle-name">{% trans 'M.C.' %}</label>
                                <select name="name" id="select-microcycle-name" class="form-control form-control-sm training-input" data-tags="true">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-div col-md-2 px-1">
                        <label for="datetimepicker-with-microcycle">{% trans 'Date with' %}</label>
                        <input type="date" name="date_with" class="form-control form-control-sm dateinput training-input" id="datetimepicker-with-microcycle" autocomplete="off" required>
                    </div>
                    <div class="form-div col-md-2 px-1">
                        <label for="datetimepicker-by-microcycle">{% trans 'Date by' %}</label>
                        <input type="date" name="date_by" class="form-control form-control-sm dateinput training-input" id="datetimepicker-by-microcycle" autocomplete="off" required>
                    </div>
                    <div class="form-div col-md-1 px-1">
                        <input type="submit" name="submit" value="{% trans 'Save' %}" class="btn btn-primary btn-sm btn-block btn-success save" id="submit-id-submit">
                        <input type="button" name="button" value="{% trans 'Cancel' %}" class="btn btn-sm btn-block btn-secondary cancel" id="button-id-button">
                    </div>
                </div>
            </form>
            <div id="alert-update">

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="microcycles" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
            <thead>
                <tr>
                    <th>{% trans '№' %}</th>
                    <th>{% trans 'Key' %}</th>
                    <th>{% trans 'M.C.' %}</th>
                    <th>{% trans 'Date with' %}</th>
                    <th>{% trans 'Date by' %}</th>
                    <th>{% trans 'Days' %}</th>
                    <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                </tr>
            </thead>
        </table>
    </div>
</div>