{% load i18n %}
{% load static %}

<div class="modal fade" id="microcycle-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header block">
                <div class="row pb-2">
                    <div class="col-4">
                        <h5 class="modal-title" id="microcycle-modal-title">{% trans 'Working with microcycles' %}</h5>
                    </div>
                    <div class="col-4">
                        <button type="button" class="ml-3 btn btn-sm btn-primary create">
                            <span aria-hidden="true">{% trans 'Create' %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row pt-2 border-top">
                    <div class="col-12">
                        <form id="microcycles-form" method="post" class="d-none">
                            {% load crispy_forms_tags %}
                            {% crispy microcycle_form %}
                        </form>
                        <div id="alert-update">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="microcycles" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>{% trans '№' %}</th>
                                <th>{% trans 'M.C.' %} 1</th>
                                <th>{% trans 'M.C.' %} 2</th>
                                <th>{% trans 'Start date' %}</th>
                                <th>{% trans 'End date' %}</th>
                                <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer block">

            </div>
        </div>
    </div>
</div>