{% load i18n %}

<div class="table-responsive">
    <table id="clubs-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
        <thead>
            <tr>
                <th class="text-center main-info-col">№</th>
                <th class="text-center main-info-col">{% trans 'Title' %}</th>
                <th class="text-center side-info-col">{% trans 'Subdomain' %}</th>
                <th class="text-center main-info-col">{% trans 'Image' %}</th>
                <th class="text-center side-info-col">{% trans 'Registration' %}</th>
                <th class="text-center side-info-col">{% trans 'Registration to' %}</th>
                <th class="text-center main-info-col"></th>
            </tr>
        </thead>
    </table>
</div>