{% load i18n %}
{% load static %}
{% load language_json %}

<div class="row">
    <div class="col-12">
         <div class="row">
            <div class="col-12">
                <form id="payment-user-info-block">
                    <div class="row payment-row">
                        <div class="col-4 pr-0">
                            <input type="number" step="0.05" name="payment" class="form-control form-control-sm">
                        </div>
                        <div class="col-4 px-0">
                            <input type="date" name="date" class="form-control form-control-sm">
                        </div>
                        <div class="col-4 pl-0">
                            <input type="date" name="payment_before" class="form-control form-control-sm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="add-user-payment-button" type="button" class="btn btn-primary btn-block">{% trans 'Create new payment'%}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="user-payment-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center main-info-col">№</th>
                                <th class="text-center side-info-col user-payment-filter">{% trans 'User' %}</th>
                                <th class="text-center main-info-col">{% trans 'Payment' %}</th>
                                <th class="text-center main-info-col">{% trans 'Date' %}</th>
                                <th class="text-center main-info-col">{% trans 'Payment before' %}</th>
                                <th class="text-center main-info-col "></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>