{% load i18n %}
{% load static %}
{% load language_json %}

<div class="row">
    <div class="col-12">
        <div class="row mb-2">
            <div class="col-12">
                <button id="generate-password-user-button" type="button" class="btn btn-primary btn-block">{% trans 'Generate a new password'%}</button>
                {% if user.is_superuser %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#send-mail-modal">{% trans 'Send by email'%}</button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">{% include "users/forms/edit-user-form.html" %}</div>
        </div>
    </div>
    {% if user.is_superuser %}
        {% include "users/modules/send_mail_modal.html" %}
    {% endif %}
</div>