{% load i18n %}
{% load static %}
{% load language_json %}

<div class="row">
    <div class="col-6">
        <img src="{% static "preadmin/img/payment_qr.jpeg" %}" alt="{% trans "Payment QR" %}" class="img-thumbnail" style="max-height: 62vh;">
    </div>
    <div class="col-6">
        <p>
            Название организации<br>
            ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ГАЛЯМИН ДМИТРИЙ АЛЕКСАНДРОВИЧ<br>
            Юридический адрес организации<br>
            121357, РОССИЯ, Г МОСКВА, Г МОСКВА, АМИНЬЕВСКОЕ ШОССЕ, Д 26, КВ 8<br>
            ИНН<br>
            772272832482<br>
            ОГРН<br>
            323774600455432<br>
            Расчетный счет<br>
            40802810000004968248<br>
            Банк<br>
            АО "ТИНЬКОФФ БАНК"<br>
            ИНН банка<br>
            7710140679<br>
            БИК банка<br>
            044525974<br>
            Корреспондентский счет банка<br>
            30101810145250000974<br>
            Юридический адрес банка<br>
            Москва, 127287, ул. Хуторская 2-я, д. 38А, стр. 26<br>
        </p>
    </div>
</div>