{% load i18n %}
{% load static %}

<div class="modal fade" id="send-mail-modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Send by email'%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "users/forms/send-mail-form.html" %}
            </div>
        </div>
    </div>
</div>