{% load i18n %}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="users-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center main-info-col">№</th>
                        <th class="text-center side-info-col flag-info-col flag-user-filter"><i class="fa fa-flag" aria-hidden="true"></i></th>
                        <th class="text-center side-info-col">{% trans 'Activation' %}</th>
                        <th class="text-center side-info-col club-user-filter">{% trans 'Club' %}</th>
                        <th class="text-center additional-info-col group-user-filter">{% trans 'Group' %}</th>
                        <th class="text-center additional-info-col lic-date-info-col">{% trans 'Lic.' %}</th>
                        <th class="text-center additional-info-col lic-date-info-col">{% trans 'Lic. to' %}</th>
                        <th class="text-center main-info-col name-user-filter">{% trans 'Last name' %}</th>
                        <th class="text-center main-info-col name-user-filter">{% trans 'First name' %}</th>
                        <th class="text-center additional-info-col email-info-col">{% trans 'Email' %}</th>
                        <th class="text-center additional-info-col distributor-info-col distributor-filter">{% trans 'D' %}</th>
                        <th class="text-center additional-info-col phone-info-col">{% trans 'Phone' %}</th>
                        <th class="text-center side-info-col"><i class="fa fa-birthday-cake" aria-hidden="true"></i></th>
                        <th class="text-center additional-info-col birth-info-col">{% trans 'Birth' %}</th>
                        <th class="text-center additional-info-col region-info-col region-user-filter">{% trans 'Region' %}</th>
                        <th class="text-center additional-info-col job-info-col">{% trans 'Job title' %}</th>
                        <th class="text-center additional-info-col club-title-info-col">{% trans 'Club' %} 2</th>
                        <th class="text-center side-info-col all-admin-filter">{% trans 'A' %}</th>
                        <th class="text-center side-info-col version-user-filter">{% trans 'Version' %}</th>
                        <th class="text-center additional-info-col team-players-info-col">{% trans 'T/P' %}</th>
                        <th class="text-center additional-info-col team-players-info-col">{% trans 'T/P' %}</th>
                        <th class="text-center additional-info-col exercises-info-col">{% trans 'Exs.' %}</th>
                        <th class="text-center additional-info-col notifications-info-col notifications-filter"><i class="fa fa-bell-o" aria-hidden="true"></i></th>
                        <th class="text-center side-info-col login-info-col">{% trans 'Entrance' %}</th>
                        <th class="text-center additional-info-col online-info-col online-filter">{% trans 'Online' %}</th>
                        <th class="text-center additional-info-col registration-info-col registration-user-filter">{% trans 'Registration' %}</th>
                        <th class="text-center additional-info-col access-info-col access-user-filter">{% trans 'Access to' %}</th>
                        <th class="text-center additional-info-col payment-info-col payment-user-filter">{% trans 'Payment' %}</th>
                        <th class="text-center additional-info-col call-check-info-col call-check-filter"><i class="fa fa-whatsapp" aria-hidden="true"></i></th>
                        <th class="text-center additional-info-col mail-check-info-col mail-check-filter">@</th>
                        <th class="text-center additional-info-col vip-check-info-col vip-check-filter">{% trans 'VIP' %}</th>
        {#                <th class="text-center additional-info-col activity-info-col"><i class="fe fe-bar-chart"></i></th>#}
                        <th class="text-center main-setting-col archive-user-filter"></th>
                        <th class="text-center main-setting-col"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>