{% load i18n %}
{% load static %}
{% load language_json %}


<div class="row border" style="max-height: calc(100vh - 160px); overflow-y: auto; overflow-x: hidden">
    <div class="col-12 pr-0" style="background: lightgrey">
        <span class="float-left">{% trans 'Filters' %}</span>
        <span class="float-right"><button type="button" id="clear-user-filters" class="btn btn-sm btn-secondary py-0" title="{% trans 'Reset filters' %}"><i class="fa fa-undo" aria-hidden="true"></i></button></span>
    </div>
    <div class="col-12 px-0">
        <div class="row">
            <div class="col-12 pb-1">
                <input type="search" class="form-control user-table-filter" data-filter="name-user-filter" placeholder="{% trans 'Search by name' %}">
            </div>
            <div class="col-12 pb-1">
                <select id="country-filter" class="form-control user-table-filter select2" data-filter="flag-user-filter">
                </select>
            </div>
            <div class="col-12 pb-1">
                <input type="search" class="form-control user-table-filter" data-filter="region-user-filter" placeholder="{% trans 'Region' %}">
            </div>
            <div class="col-12 pb-1">
{#                <label class="form-check-label" for="version-filter">#}
{#                    {% trans 'Version' %}#}
{#                </label>#}
                <select id="version-filter" class="form-control user-table-filter select2" data-filter="version-user-filter"></select>
            </div>
            <div class="col-12 pb-1">
{#                <label class="form-check-label" for="club-filter">#}
{#                    {% trans 'Clubs' %}#}
{#                </label>#}
                <select id="club-filter" class="form-control user-table-filter select2" data-filter="club-user-filter"></select>
            </div>
            <div class="col-12 pb-1">
                <input type="text" class="form-control user-table-filter datetimepickerfilter" data-toggle="datetimepicker" data-filter="registration-user-filter" placeholder="{% trans 'Registration' %}">
            </div>
            <div class="col-12 pb-1">
                <input type="text" class="form-control user-table-filter datetimepickerfilter" data-toggle="datetimepicker" data-filter="access-user-filter" placeholder="{% trans 'Access to' %}">
            </div>

        </div>
    </div>
    <div class="col-12" style="background: lightgrey">
        {% trans 'Add. filters' %}
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input user-table-filter" data-filter="archive-user-filter" type="checkbox" value="true" id="archive-filter-check">
            <label class="form-check-label" for="archive-filter-check">
                {% trans 'Archive' %} <i class="fa fa-flag" aria-hidden="true"></i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input user-table-filter" data-filter="registration-user-filter" type="checkbox" value="{% now "Y-m-d" %}" id="registration-filter-check">
            <label class="form-check-label" for="registration-filter-check">
                {% trans 'New users' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column user-table-filter" data-col="distributor-info-col" data-filter="distributor-filter" type="checkbox" value="true" id="distributor-filter-check">
            <label class="form-check-label" for="distributor-filter-check">
                {% trans 'Distributor' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input user-table-filter" data-filter="all-admin-filter" type="checkbox" value="true" id="admins-filter-check">
            <label class="form-check-label" for="admins-filter-check">
                {% trans 'Admins' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column user-table-filter" data-filter="online-filter" data-col="online-info-col" type="checkbox" value="true" id="online-check">
            <label class="form-check-label" for="online-check">
                {% trans 'Online' %}
            </label>
        </div>
    </div>
    <div class="col-12" style="background: lightgrey">
        {% trans 'Columns' %}
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="lic-date-info-col" type="checkbox" value="" id="license-to-check">
            <label class="form-check-label" for="license-to-check">
                {% trans 'License to' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="email-info-col" type="checkbox" value="" id="email-check">
            <label class="form-check-label" for="email-check">
                {% trans 'Email' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="phone-info-col" type="checkbox" value="" id="phone-check">
            <label class="form-check-label" for="phone-check">
                {% trans 'Phone' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="birth-info-col" type="checkbox" value="" id="birth-check">
            <label class="form-check-label" for="birth-check">
                {% trans 'Date of birth' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="region-info-col" type="checkbox" value="" id="region-check">
            <label class="form-check-label" for="region-check">
                {% trans 'Region' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="job-info-col" type="checkbox" value="" id="job-title-check">
            <label class="form-check-label" for="job-title-check">
                {% trans 'Job title' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="club-title-info-col" type="checkbox" value="" id="job-title-check">
            <label class="form-check-label" for="job-title-check">
                {% trans 'Club title' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="registration-info-col" type="checkbox" value="" id="registration-check">
            <label class="form-check-label" for="registration-check">
                {% trans 'Registration' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="access-info-col" type="checkbox" value="" id="access-check">
            <label class="form-check-label" for="access-check">
                {% trans 'Access to' %}
            </label>
        </div>
{#        <div class="form-check">#}
{#            <input class="form-check-input toggle-user-column" data-col="activity-info-col" type="checkbox" value="" id="activity-check">#}
{#            <label class="form-check-label" for="activity-check">#}
{#                {% trans 'Activity index' %}#}
{#            </label>#}
{#        </div>#}
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="team-players-info-col" type="checkbox" value="" id="team-players-check">
            <label class="form-check-label" for="team-players-check">
                {% trans 'Teams' %}/{% trans 'Players' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="exercises-info-col" type="checkbox" value="" id="exercises-check">
            <label class="form-check-label" for="exercises-check">
                {% trans 'Exercises' %}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input toggle-user-column" data-col="login-info-col" type="checkbox" value="" id="login-check">
            <label class="form-check-label" for="login-check">
                {% trans 'Entrance' %}
            </label>
        </div>
{#        <div class="form-check">#}
{#            <input class="form-check-input toggle-user-column" data-col="distributor-info-col" type="checkbox" value="" id="distributor-check">#}
{#            <label class="form-check-label" for="distributor-check">#}
{#                {% trans 'Distributor' %}#}
{#            </label>#}
{#        </div>#}
    </div>
</div>