{% load i18n %}
{% load static %}


<!-- Edit Details Modal -->
<div class="modal fade" id="edit_password_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Recommendations'%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans 'For the convenience of using the program, it is recommended to change the password to a more convenient one'%}.</p>
                <p>{% trans 'This can be done in your personal account/profile'%}:</p>
                <a class="btn btn-block btn-warning" href="{% url 'users:profile' %}?change_password=true">{% trans 'Change password'%}</a>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dont_show_change_password_modal">
                    <label class="form-check-label" for="dont_show_change_password_modal">
                        {% trans 'Don`t show again'%}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Details Modal -->