{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}
{% load language_json %}

{% block title %}{% trans 'Clients Management' %}{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'clubs/css/admin_panel.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 px-1">
            <div class="card mb-0">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col-12 px-1">
                            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#users-table-tab" role="tab" aria-controls="club-users" aria-selected="true">{% trans "Users" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#clubs-table-tab" role="tab" aria-controls="club-users" aria-selected="true">{% trans "Clubs" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#user-add" role="tab" aria-controls="club-user-add" aria-selected="false">{% trans "Add user" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card-body py-2">
                    <div class="tab-content pt-0" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="users-table-tab" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-1 px-1">
                                    <button type="button" id="open-profile-modal" class="btn btn-block btn-warning" title="{% trans 'Open user profile' %}"><i class="fa fa-user-o" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-1 px-1">
                                    <button type="button" id="open-table-settings" class="btn btn-block btn-secondary" title="{% trans 'Open table settings' %}"><i class="fa fa-outdent" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div id="users-table-block" class="col-sm-12 px-1">
                                    {% include "users/modules/user_table.html" %}
                                </div>
                                <div id="user-management-block" class="pt-2 d-none">
                                    {% include "users/modules/management_client.html" %}
                                </div>
                                <div id="user-table-settings-block" class="pt-1 d-none">
                                    {% include "users/modules/user_table_settings.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="clubs-table-tab" role="tabpanel" aria-labelledby="pills-clubs-tab">
                            <div class="row">
                                <div id="clubs-table-block" class="col-sm-12 px-1">
                                    {% include "users/modules/club_table.html" %}
                                </div>
                                <div id="club-management-block" class="pt-2 d-none">
{#                                    {% include "users/modules/management_client.html" %}#}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="user-add" role="tabpanel" aria-labelledby="pills-user-add-tab">
                            {% include "users/forms/add-user-form.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div id="user-management-block" class="d-none px-1">#}
{#            {% include "users/modules/management_client.html" %}#}
{#        </div>#}
    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'references/team_ajax.js' %}"></script>
    <script src="{% static 'users/modules/ajax_permission.js' %}"></script>
    <script src="{% static 'users/modules/ajax_user_table.js' %}"></script>
    <script src="{% static 'users/modules/ajax_club_table.js' %}"></script>
    <script src="{% static 'users/modules/edit_permission.js' %}"></script>
    <script src="{% static 'users/modules/ajax_user_data.js' %}"></script>
    <script src="{% static 'users/base_clients.js' %}"></script>
{% endblock %}