{% load i18n %}

<div class="table-responsive">
    <table id="club-users-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>{% trans 'Activation' %}</th>
                <th>{% trans 'Last name' %}</th>
                <th>{% trans 'First name' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Age' %}</th>
                <th>{% trans 'Birth' %}</th>
                <th>{% trans 'Job title' %}</th>
                <th><i class="fe fe-bar-chart"></i></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>