{% load i18n %}

<div class="table-responsive">
    <table id="users-table" class="table table-sm table-striped table-bordered dataTable" style="width:100%">
        <thead>
            <tr>
                <th class="text-center main-info-col">№</th>
                <th class="text-center main-info-col">{% trans 'Activation' %}</th>
                <th class="text-center main-info-col name-user-filter">{% trans 'Last name' %}</th>
                <th class="text-center main-info-col name-user-filter">{% trans 'First name' %}</th>
                <th class="text-center side-info-col"><i class="fa fa-birthday-cake" aria-hidden="true"></i></th>
                <th class="text-center side-info-col birth-info-col">{% trans 'Birth' %}</th> <!--additional-info-col-->
{#                <th class="text-center side-info-col birth-info-col">{% trans 'Teams' %}</th> <!--additional-info-col-->#}
                <th class="text-center side-info-col job-info-col">{% trans 'Job title' %}</th> <!--additional-info-col-->
                <th class="text-center side-info-col team-players-info-col">{% trans 'T/P' %}</th>
                <th class="text-center side-info-col exercises-info-col">{% trans 'Exs.' %}</th>
                <th class="text-center side-info-col login-info-col">{% trans 'Entrance' %}</th>
                <th class="text-center side-info-col online-info-col online-filter">{% trans 'Online' %}</th>
{#                <th class="text-center side-info-col license-to-info-col">{% trans 'License to' %}</th> <!--additional-info-col-->#}
{#                <th class="text-center side-info-col email-info-col">{% trans 'Email' %}</th> <!--additional-info-col-->#}
{#                <th class="text-center side-info-col phone-info-col">{% trans 'Phone' %}</th> <!--additional-info-col-->#}
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>