{% extends '../base/base.html' %}

{% block main %}
    <div class="page-loader-wrapper" style="display: none;">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="main-wrapper">
        <div class="header">
            {% include 'menu/header.html' %}
        </div>
        <div class="sidebar" id="sidebar">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 880px;">
                <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 880px; overflow-y: auto;">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            {% include 'menu/sidebar.html' %}
                        </ul>
                    </div>
                </div>
                <div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 880px;"></div>
                <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid pt-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}