{% extends '../base/base.html' %}
{% load static %}

{% block google_tag_manager %}
    {% include 'base/google_tag_manager.html' %}
{% endblock %}

{% block main %}
    <div class="page-loader-wrapper" style="display: none;">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="{% static 'preadmin/img/logo_n.png' %}" alt="Logo">
                    </div>
                    <div class="login-right px-2">
                        <div class="login-right-wrap">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
