{% extends '../base/base.html' %}

{% block main %}
    <div class="page-loader-wrapper" style="display: none;">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="main-wrapper">
        <div class="header">
            {% include 'menu/header_view.html' %}
        </div>
        <div class="page-wrapper" style="margin-left: auto !important;">
            <div class="content container pt-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}