{% load i18n %}
{% load static %}
{% load language_json %}



<div class="row">
    <div class="col-sm-12">
        <div class="row mb-2">
            <div class="col-6">
                <button id="back-clubs-table" class="btn btn-danger btn-block font-weight-bold">{% trans "Close" %}</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning btn-block toggle-edit-mode view-button">{% trans 'Edit'%}</button>
                <button type="button" class="btn btn-warning btn-block toggle-edit-mode edit-button d-none mt-0">{% trans 'Cancel'%}</button>
            </div>
            <div class="col mt-1">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#profile-club" role="tab" aria-controls="profile-club" aria-selected="true">{% trans "Profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#permissions-club" role="tab" aria-controls="permissions-club" aria-selected="false">{% trans "Permissions" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content pt-0" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="profile-club" role="tabpanel" aria-labelledby="pills-profile-club-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">{% include "clubs/forms/edit-club-form.html" %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="permissions-club" role="tabpanel" aria-labelledby="pills-permissions-club-tab">
                        <div class="row">
                            <div class="col-12">
                                {% include "users/forms/edit-permission.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>