table.dataTable thead tr th {
    border-bottom: 2px solid #959595;
}
table.dataTable thead tr.dates th {
    border-right: 2px solid #959595 !important;
}
table.dataTable th.border-left, td.border-left {
    border-left: 2px solid #959595 !important;
}
table.dataTable th.border-right, td.border-right {
    border-right: 2px solid #959595 !important;
}
table.dataTable thead th.active {
    background-color: rgb(235, 235, 160) !important;
}
table.dataTable tfoot th {
    background-color: rgb(225, 225, 225) !important;
}

table.dataTable td.marker--f_color {
    color: var(--f_color-value);
    font-weight: bolder !important;
}
table.dataTable td.marker--border {
    border: 3px solid var(--border-value) !important;
}
