{% load i18n %}
{% load static %}
{% load language_json %}


<div class="row inventory-data-rows">
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-balls" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'balls' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="balls" class="form-control form-control-sm text-center rounded-0" id="training-balls" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-chips" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'chips' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="chips" class="form-control form-control-sm text-center rounded-0" id="training-chips" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-gatesG" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'gates' %} G</label>
            <div class="col-6 px-0">
              <input type="number" name="gatesG" class="form-control form-control-sm text-center rounded-0" id="training-gatesG" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-cones" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'cones' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="cones" class="form-control form-control-sm text-center rounded-0" id="training-cones" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-gatesg" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'gates' %} g</label>
            <div class="col-6 px-0">
              <input type="number" name="gatesg" class="form-control form-control-sm text-center rounded-0" id="training-gatesg" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-racks" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'racks' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="racks" class="form-control form-control-sm text-center rounded-0" id="training-racks" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-shirt-fronts-1" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'shirt fronts' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="shirt_fronts_1" class="form-control form-control-sm text-center rounded-0" id="training-shirt-fronts-1" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-ladder" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'ladder' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="ladder" class="form-control form-control-sm text-center rounded-0" id="training-ladder" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-shirt-fronts-2" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'shirt fronts' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="shirt_fronts_2" class="form-control form-control-sm text-center rounded-0" id="training-shirt-fronts-2" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-floor-mats" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'floor mats' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="floor_mats" class="form-control form-control-sm text-center rounded-0" id="training-floor-mats" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-shirt-fronts-3" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'shirt fronts' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="shirt_fronts_3" class="form-control form-control-sm text-center rounded-0" id="training-shirt-fronts-3" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-barriers" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'barriers' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="barriers" class="form-control form-control-sm text-center rounded-0" id="training-barriers" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-mannequins" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'mannequins' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="mannequins" class="form-control form-control-sm text-center rounded-0" id="training-mannequins" value="">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-0 row">
            <label for="training-harnesses" class="col-6 col-form-label text-center border pb-0 pt-1 px-0 align-center bg-lightgray">{% trans 'harnesses' %}</label>
            <div class="col-6 px-0">
              <input type="number" name="harnesses" class="form-control form-control-sm text-center rounded-0" id="training-harnesses" value="">
            </div>
        </div>
    </div>
</div>