{% load i18n %}
{% load static %}
{% load language_json %}


<div id="training-content" data-training="" class="row border-top mt-2 d-none">
    <div class="col training-data" style="overflow-y: auto; overflow-x: hidden">
        <div class="row mb-1">
            <div class="col-12 px-0">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link py-0 rounded-0 mb-1 active" data-toggle="pill" href="#main-data-tab" role="tab">{% trans 'Card' %}</a>
                    <a class="nav-item nav-link py-0 rounded-0 mb-1" data-toggle="pill" href="#exercise-data-tab" role="tab">{% trans 'Exercises' %}</a>
{#                    <a class="nav-item nav-link py-0 rounded-0 mb-1" data-toggle="pill" href="#players-data-tab" role="tab">{% trans 'Players' %}</a>#}
{#                    <a class="nav-item nav-link py-0 rounded-0 mb-1" data-toggle="pill" href="#inventory-data-tab" role="tab">{% trans 'Inventory' %}</a>#}
                </nav>
            </div>
        </div>

        <div class="tab-content pt-0" id="pills-tabContent">
            <div class="tab-pane fade show active" id="main-data-tab" role="tabpanel" aria-labelledby="pills-home-tab">
                <div id="training-main-data" class="row training-data-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Date" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-light">
                                <input type="text" name="date" class="form-control form-control-sm rounded-0 py-0 h-auto text-center datetimepicker edit-input" data-toggle="datetimepicker" value="" placeholder="{% trans "Date" %}" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Time" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-light">
                                <input type="text" name="time" class="form-control form-control-sm rounded-0 py-0 h-auto text-center timepicker edit-input" data-toggle="datetimepicker" value="" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Trainer" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-disabled text-center trainer-select">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Team" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-disabled text-center team-name">
                            </div>
                        </div>
{#                        <div class="row">#}
{#                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Group" %}</div>#}
{#                            <div class="col-6 px-0 border-bottom border-dark bg-disabled text-center team-group">#}
{#                                <select name="group" class="form-control form-control-sm text-center pt-0 edit-input" style="height: 25px !important;" disabled>#}
{#                                    <option value="0">{% trans 'Group' %} A</option>#}
{#                                    <option value="1">{% trans 'Group' %} B</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Number of players" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-light text-center training-players">
                                <input type="text" name="players_count" class="form-control form-control-sm rounded-0 py-0 h-auto text-center {% if not perms.players.change_userplayer and not perms.players.change_clubplayer %}edit-input{% endif %}" value="" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate">{% trans "Goalkeepers" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-light text-center training-goalkeepers">
                                <input type="text" name="goalkeepers_count" class="form-control form-control-sm rounded-0 py-0 h-auto text-center {% if not perms.players.change_userplayer and not perms.players.change_clubplayer %}edit-input{% endif %}" value="" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid black">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate" style="border-bottom: 1px solid black !important">{% trans "Duration" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-disabled text-center all-exercise-time">

                            </div>
                        </div>
                        {% if perms.trainings.individual_clubtraining %}
                        <div class="row" style="border-bottom: 1px solid black">
                            <div class="col-6 border border-white bg-lightgray text-black text-uppercase text-left text-truncate" style="border-bottom: 1px solid black !important">{% trans "Is individual" %}</div>
                            <div class="col-6 px-0 border-bottom border-dark bg-light text-center training-goalkeepers">
                                <input class="form-control form-control-sm rounded-0 py-0 h-auto text-center edit-input mt-1" name="is_personal" type="checkbox" value="" style="height: 18px !important;" disabled>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.trainings.change_clubtrainingload or perms.trainings.change_usertrainingload %}
                        <div class="row block-select2">
                            <div class="col-12 my-2 px-0">
                                <select id="select-training-load" name="load" class="form-control form-control-sm rounded-0 training-filter-edit edit-input" data-maximumSelectionLength="1" disabled></select>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.trainings.change_clubtrainingblocks or perms.trainings.change_usertrainingblocks %}
                        <div class="row block-select2">
                            <div class="col-12 my-2 px-0">
                                <select id="select-training-block" name="blocks" class="form-control form-control-sm rounded-0 training-filter-edit edit-input" data-multiple="true" data-maximumSelectionLength="3" disabled></select>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.trainings.change_clubtrainingobjectives or perms.trainings.change_usertrainingobjectives %}
                        <div id="block-training-goals" class="row base-select2">
                            <div class="col-12 px-0 my-1 training-objective_1">
                                <select name="objective_1" class="form-control form-control-sm rounded-0 training-filter-edit edit-input" data-multiple="true" data-maximumSelectionLength="2" disabled></select>
                            </div>
{#                            <div class="col-12 px-0 my-1 training-objective_2">#}
{#                                <select name="objective_2" class="form-control form-control-sm rounded-0 training-filter-edit edit-input" data-multiple="true" data-maximumSelectionLength="2" disabled></select>#}
{#                            </div>#}
{#                            <div class="col-12 px-0 my-1 text-center training-objective_3">#}
{#                                <select name="objective_3" class="form-control form-control-sm rounded-0 training-filter-edit edit-input" data-multiple="true" data-maximumSelectionLength="2" disabled></select>#}
{#                            </div>#}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="inventory-data-tab" role="tabpanel" aria-labelledby="pills-inventory-tab">
                {% include "trainings/training_inventory.html" %}
            </div>
            <div class="tab-pane fade" id="exercise-data-tab" role="tabpanel" aria-labelledby="pills-exercise-tab">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="row exercise-list" data-group="1">
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">A</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">1</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">2</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">3</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">4</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">5</button></div>
                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">6</button></div>
                        </div>
{#                        <div class="row exercise-list" data-group="2">#}
{#                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">B</button></div>#}
{#                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">1</button></div>#}
{#                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">2</button></div>#}
{#                            <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">3</button></div>#}
{#                            <div class="col px-0"></div>#}
{#                            <div class="col px-0"></div>#}
{#                            <div class="col px-0"></div>#}
{#                        </div>#}
                    </div>
                </div>

                <div class="row exercise-data-row font-weight-bold mt-3 training-exercise-title training-exercise-description" data-toggle="collapse" data-target="#collapse-exercise-description" style="cursor: pointer">
                    <div class="col text-center pt-1 px-0">{% trans "Description" %} ({% trans "print" %} / QR / {% trans "link" %})</div>
                </div>
                <div id="collapse-exercise-description" class="row exercise-data-row collapse show">
                    <div id="training-exercise-description" class="col-12 p-0">
                        <textarea id="descriptionExerciseView" class="form-control form-control-sm rounded-0 edit-input" rows="5" cols="5" style="max-height: 600px; min-height: 60px; height: 300px" disabled></textarea>
                    </div>
                </div>
                <div class="row exercise-data-row font-weight-bold training-exercise-title" style="cursor: pointer;">
                    <div class="col text-center pt-1 px-0" data-toggle="collapse" data-target="#collapse-exercise-additional">{% trans "Add. Conditions" %}</div>
                </div>
                <div id="collapse-exercise-additional" class="row exercise-data-row collapse show" style="border-bottom: 2px solid black">
        {#            <div id="training-exercise-additional" class="col-12 border border-white">#}
        {#            </div>#}
                </div>
            </div>
            <div class="tab-pane fade" id="players-data-tab" role="tabpanel" aria-labelledby="pills-players-tab">
                <div class="row">
                    <div class="col-1 px-0 text-center"><button type="button" title="{% trans 'Resets player data to the original table' %}" class="btn btn-block btn-warning btn-sm py-0 reset-players edit-input" disabled><i class="fa fa-refresh" aria-hidden="true"></i></button></div>
{#                    <div class="col-9 px-0 text-center">{% trans 'Name' %}</div>#}
{#                    <div class="col-6 px-0 text-center">{% trans 'Exs.' %}</div>#}
{#                    <div class="col-2 px-0 text-center"><i class="fa fa-check" aria-hidden="true"></i></div>#}
                </div>
                <div id="players-data-list" class="row"></div>
            </div>
        </div>


    </div>
    <div class="col-8">
        <div class="row">
            <div id="block-training-info" class="col-12" style="overflow-y: auto; overflow-x: hidden">
                <div class="row training-info">
                </div>
            </div>
        </div>

    </div>
</div>
{% include "trainings/exercise_additional_modal.html" %}