{% load i18n %}
{% load static %}
{% load language_json %}


<div id="training-content" class="row mt-2 border-top d-none">
    <div class="col training-data">
        <div class="row training-data-row">
            <div class="col-12 btn btn-sm btn-info border border-light">1. Совершенствование атаки по центру с завершающим ударом по воротам</div>
        </div>
        <div class="row training-data-row">
            <div class="col-12 btn btn-sm btn-info border border-light">2. Скоростные качества</div>
        </div>
        <div class="row training-data-row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Дата</div>
                    <div class="col-6 border-bottom border-dark bg-light">03.12.2022</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Время</div>
                    <div class="col-6 border-bottom border-dark bg-light">17:30</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Команда</div>
                    <div class="col-6 border-bottom border-dark bg-light">TEST TEAM</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Возраст</div>
                    <div class="col-6 border-bottom border-dark bg-light">U-13</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Тренер</div>
                    <div class="col-6 border-bottom border-dark bg-light">Иванов Иван Иванович</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Тренер 2</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Тренер (G)</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Время t`</div>
                    <div class="col-6 border-bottom border-dark bg-light">90`</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Пространство</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Игроки</div>
                    <div class="col-6 border-bottom border-dark bg-light">20</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Вратари</div>
                    <div class="col-6 border-bottom border-dark bg-light">2</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Ворота G</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Инвентарь</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Инвентарь</div>
                    <div class="col-6 border-bottom border-dark bg-light"></div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="row exercise-list" data-group="1">
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">A</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">1</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">2</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">3</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">4</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">5</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">6</button></div>
                </div>
                <div class="row exercise-list" data-group="2">
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">B</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">1</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">2</button></div>
                    <div class="col px-0"><button class="btn btn-sm btn-info btn-block border-white rounded-0">3</button></div>
                    <div class="col px-0"></div>
                    <div class="col px-0"></div>
                    <div class="col px-0"></div>
                </div>
            </div>
        </div>
        <div class="row exercise-data-row font-weight-bold training-exercise-name">
            <div class="col-12 text-center py-1">Название</div>
        </div>
        <div class="row exercise-data-row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Касаний</div>
                    <div class="col-6 border-bottom border-dark bg-light">1</div>
                </div>
                <div class="row">
                    <div class="col-6 border border-white bg-secondary text-white">Поле</div>
                    <div class="col-6 border-bottom border-dark bg-light">Тест</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8" id="block-training-info">
        <div class="row training-info" style="overflow-y: auto; overflow-x: hidden">
        </div>
    </div>
</div>