{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}
{% load language_json %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'exercises/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'trainings/css/view_training.css' %}">
    <link rel="stylesheet" href="{% static 'trainings/css/training_card.css' %}">
{% endblock %}

{% block title %}{% trans 'Trainings' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card m-0">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6 px-1">
                                    <a id="back-button" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'events:base_events' %}{% endif %}" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold view-button">{% trans "Back" %}</a>
                                    <button id="#" title="" class="btn btn-block btn-outline-warning btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">{% trans "Cancel" %}</button>
                                </div>
                                <div class="col-6 px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold view-button toggle-edit-mode">{% trans "Edit" %}</button>
                                    <button id="save-training" title="" class="btn btn-block btn-outline-success btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">{% trans "Save" %}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold active" data-toggle="pill" href="#training-card" role="tab">{% trans "Card" %}</a>
                                </li>
                                <li class="nav-item px-1">
                                    <a id="training-exercises-button" class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-exercises" role="tab">
                                        {% trans "Exercises" %}
                                        <span class="float-right" id="columnsSizeToggle" title="Поменять размер колонок">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-protocol" role="tab">{% trans "Protocol" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6 px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">{% trans "Video" %}</button>
                                </div>
                                <div class="col-6 px-1">
                                    <button id="delete-training" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold">{% trans "Delete" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="tab-content p-0" id="training-tabContent">
                        <div class="tab-pane fade show active" id="training-card" role="tabpanel" aria-labelledby="training-card-tab">
                            {% include 'trainings/training_card.html' %}
                        </div>
                        <div class="tab-pane fade" id="training-exercises" role="tabpanel" aria-labelledby="training-exercises-tab">
                            <div class="row">
                                <div class="col-12 d-none">
                                    <button type="button" class="btn btn-secondary btn-sm btn-custom btn-block elem-flex-center size-max-w-x" id="toggleFoldersNames" title="Свернуть / Развернуть папки" style="--w-max-x:5%;" data-state="0">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col px-0">
                                    {% include "exercises/modules/exercises_list.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="training-protocol" role="tabpanel" aria-labelledby="training-protocol-tab">
                            <table id="player-protocol-table" class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th class="p-0 text-center align-middle border">
                                            <button title="" class="btn btn-block btn-outline-success btn-sm edit-input" data-toggle="modal" data-target="#add-player-protocol-modal" disabled><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </th>
                                        <th colspan="6" class="p-0 text-center align-middle border">
                                        </th>
                                        <th colspan="8" class="p-0 text-center align-middle border">Группа A (Упражнения)</th>
                                        <th colspan="8" class="p-0 text-center align-middle border">Группа B (Упражнения)</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th class="p-0 text-center align-middle border"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></th>
                                        <th class="p-0 text-center align-middle border"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></th>
                                        <th class="p-0 text-center align-middle border">#</th>
                                        <th>ФИО</th>
                                        <th class="p-0 text-center align-middle border" width="40"><input type="checkbox" class="all-player-check" data-group="group_1" data-count="7" style="width: 25px; height: 25px;"></th>
                                        <th class="p-0 text-center align-middle border">1</th>
                                        <th class="p-0 text-center align-middle border">2</th>
                                        <th class="p-0 text-center align-middle border">3</th>
                                        <th class="p-0 text-center align-middle border">4</th>
                                        <th class="p-0 text-center align-middle border">5</th>
                                        <th class="p-0 text-center align-middle border">6</th>
                                        <th class="p-0 text-center align-middle border">7</th>

                                        <th class="p-0 text-center align-middle border" width="40"><input type="checkbox" class="all-player-check" data-group="group_2" data-count="7" style="width: 25px; height: 25px;"></th>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <td class="p-0 text-center align-middle">1</td>
                                        <th class="p-0 text-center align-middle border">2</th>
                                        <th class="p-0 text-center align-middle border">3</th>
                                        <th class="p-0 text-center align-middle border">4</th>
                                        <th class="p-0 text-center align-middle border">5</th>
                                        <th class="p-0 text-center align-middle border">6</th>
                                        <th class="p-0 text-center align-middle border">7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="player_row" data-training="1" data-id="123" data-team="1">
                                        <td width="20" class="p-0 text-right align-middle">
                                            <button type="button" title="Удалить игрока" class="btn btn-sm btn-danger delete-player-button py-0 w-100 edit-input" style="height: 30px;" disabled>X</button>
                                        </td>
                                        <td width="150" class="p-0 align-middle">
                                            <select class="custom-select p-0 edit-input text-center" name="player_status" tabindex="-1" aria-hidden="true" style="height: 30px;">
                                                <option value="" selected="">тренировка</option>
                                                <option value="1" >болен</option>
                                                <option value="2" >травма</option>
                                                <option value="3" >не участвовал</option>
                                                <option value="4" >в сборной</option>
                                            </select>
                                        </td>
                                        <td width="30" class="p-0 text-center align-middle estimation-change" name="estimation" value="0"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                                        <td width="30" class="p-0 text-center align-middle estimation-change" name="estimation" value="1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                                        <td width="40" class="p-0 text-center align-middle"></td>
                                        <td width="200" class="align-middle">
                                            <span class="float-left " title="">Иванов Иван</span>
                                        </td>
                                        <td class="p-0 text-center align-middle" width="40"><input type="checkbox" class="select-all-group" data-group="group_1" data-count="7" style="width: 25px; height: 25px;"></td>
                                        <td name="group_1" data-num="1" data-exs-id="1138" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="2" data-exs-id="1108" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="3" data-exs-id="2040" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="4" data-exs-id="1515" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="5" data-exs-id="1515" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="6" data-exs-id="1515" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_1" data-num="7" data-exs-id="1515" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <td class="p-0 text-center align-middle" width="40"><input type="checkbox" class="select-all-group" data-group="group_2" data-count="7" style="width: 25px; height: 25px;"></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <td name="group_2" data-num="1" data-exs-id="2409" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="2" data-exs-id="561" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="3" data-exs-id="561" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="4" data-exs-id="561" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="5" data-exs-id="561" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="6" data-exs-id="1630" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                        <td name="group_2" data-num="7" data-exs-id="2078" width="40" class="p-0 text-center align-middle protocol-check-player"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="add-player-protocol-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Players" %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 team-select"></div>
                                        </div>
                                        <div class="row players-list py-2">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="add-all-players" type="button" class="btn btn-primary">{% trans "Add all players" %}</button>
                                        <button id="add-selected-players" type="button" class="btn btn-primary">{% trans "Add selected" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "exercises/modules/exercise_graphic_modal.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'references/team_ajax.js' %}"></script>
    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'references/exercise_additional_data.js' %}"></script>
    <script src="{% static 'references/player_protocol_status.js' %}"></script>
    <script src="{% static 'references/training_additional.js' %}"></script>
    <script src="{% static 'trainings/js/view_protocol.js' %}"></script>
    <script src="{% static 'trainings/js/training_card.js' %}"></script>

    <script src="{% static 'exercises/js/modules/graphic_modal.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercise_counter.js' %}"></script>
    <script src="{% static 'exercises/js/modules/visual_block_control.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercises_list.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercise_card.js' %}"></script>
    <script src="{% static 'exercises/js/folder_list.js' %}"></script>

    <script src="{% static 'trainings/js/action_training.js' %}"></script>
    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'trainings/js/view_training.js' %}"></script>
    <script src="{% static 'video/js/video_list.js' %}"></script>
{% endblock %}