{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}
{% load language_json %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'exercises/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'trainings/css/view_training.css' %}">
{% endblock %}

{% block title %}{% trans 'Trainings' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6 px-1">
                                    <a id="#" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'events:base_events' %}{% endif %}" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold view-button">Выйти</a>
                                    <button id="#" title="" class="btn btn-block btn-outline-warning btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">Отмена</button>
                                </div>
                                <div class="col-6 px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold view-button toggle-edit-mode">Редактировать</button>
                                    <button id="save-training" title="" class="btn btn-block btn-outline-success btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold active" data-toggle="pill" href="#training-card" role="tab">Карточка</a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-exercises" role="tab">
                                        Упражнения
                                        <span class="float-right" id="columnsSizeToggle" title="Поменять размер колонок">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-protocol" role="tab">Протокол</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 px-1">
                            <button id="#" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="tab-content p-0" id="training-tabContent">
                        <div class="tab-pane fade show active" id="training-card" role="tabpanel" aria-labelledby="training-card-tab">
                            <div class="row">
                                <div class="col">
                                    <div id="block-training-info" class="row">
                                        <div class="col px-1">
                                            <input type="text" name="date" class="form-control form-control-sm rounded-0 py-0 h-auto text-center datetimepicker edit-input" data-toggle="datetimepicker" value="{{ object.event_id.date|date:"d/m/Y" }}" placeholder="{% trans "Date" %}" disabled>
                                        </div>
                                        <div class="col px-1">
                                            <input type="text" name="time" class="form-control form-control-sm rounded-0 py-0 h-auto text-center timepicker edit-input" data-toggle="datetimepicker" value="{{ object.event_id.date|date:"H:i" }}" disabled>
                                        </div>
                                        <div class="col px-1 text-center">{{ object.team_id.name }}</div>
                                        <div class="col px-1 text-center">{{ object.trainer_user_id.get_full_name }}</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4 px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm group-button group-switch" data-group="0">{% trans "Switch group" %}</button>
                                        </div>
                                        <!--<div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Описание</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Схемы</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Видео</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Анимация</button>
                                        </div>-->
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-print" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="card-scheme-block" class="row">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="training-exercises" role="tabpanel" aria-labelledby="training-exercises-tab">
                            <div class="row">
                                <div class="col px-0">
                                    {% include "exercises/modules/exercises_list.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="training-protocol" role="tabpanel" aria-labelledby="training-protocol-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'exercises/js/modules/exercise_counter.js' %}"></script>
    <script src="{% static 'exercises/js/modules/visual_block_control.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercises_list.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercise_card.js' %}"></script>

    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'trainings/js/view_training.js' %}"></script>
    <script src="{% static 'video/js/video_list.js' %}"></script>
{% endblock %}