{% extends '../base/app_main.html' %}
{% load i18n %}
{% load static %}
{% load language_json %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'exercises/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'trainings/css/view_training.css' %}">
{% endblock %}

{% block title %}{% trans 'Trainings' %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6 px-1">
                                    <a id="#" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'events:base_events' %}{% endif %}" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold view-button">Выйти</a>
                                    <button id="#" title="" class="btn btn-block btn-outline-warning btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">Отмена</button>
                                </div>
                                <div class="col-6 px-1">
                                    <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold view-button toggle-edit-mode">Редактировать</button>
                                    <button id="save-training" title="" class="btn btn-block btn-outline-success btn-sm mt-0 font-weight-bold edit-button toggle-edit-mode d-none">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold active" data-toggle="pill" href="#training-card" role="tab">Карточка</a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-exercises" role="tab">
                                        Упражнения
                                        <span class="badge badge-pill badge-warning float-right pt-1" id="columnsSizeToggle" title="Поменять размер колонок">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="btn btn-sm btn-block btn-outline-primary font-weight-bold" data-toggle="pill" href="#training-protocol" role="tab">Протокол</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 px-1">
                            <button id="#" title="" class="btn btn-block btn-outline-danger btn-sm font-weight-bold">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="tab-content p-0" id="training-tabContent">
                        <div class="tab-pane fade show active" id="training-card" role="tabpanel" aria-labelledby="training-card-tab">
                            <div class="row">
                                <div class="col">
                                    <div id="block-training-info" class="row">
                                        <div class="col px-1">
                                            <input type="text" name="date" class="form-control form-control-sm rounded-0 py-0 h-auto text-center datetimepicker edit-input" data-toggle="datetimepicker" value="{{ object.event_id.date|date:"d/m/Y" }}" placeholder="{% trans "Date" %}" disabled>
                                        </div>
                                        <div class="col px-1">
                                            <input type="text" name="time" class="form-control form-control-sm rounded-0 py-0 h-auto text-center timepicker edit-input" data-toggle="datetimepicker" value="{{ object.event_id.date|date:"H:i" }}" disabled>
                                        </div>
                                        <div class="col px-1 text-center">{{ object.team_id.name }}</div>
                                        <div class="col px-1 text-center">{{ object.trainer_user_id.get_full_name }}</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Описание</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Схемы</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Видео</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm font-weight-bold">Анимация</button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-print" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col px-1">
                                            <button id="#" title="" class="btn btn-block btn-outline-dark btn-sm"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="col-4">
                                    <div class="row exercise-block">
                                        <div id="group_A" class="col-12 group-block" data-group="1">
                                            <div class="row border border-dark bg-default-light font-weight-bold">
                                                <div class="col">Группа А</div>
                                                <div class="col-3 px-0">
                                                    <button type="button" class="btn btn-sm btn-secondary float-right rounded-0 py-0 h-100 edit-button d-none" data-toggle="modal" data-target="#add-exercise-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    <span class="sum-duration-group btn btn-sm float-right rounded-0 py-0 h-100 font-weight-bold" style="width: 50px">00</span>
                                                </div>
                                            </div>
                                            {% for exercise in object.usertrainingexercise_set.all %}
                                                {% if exercise.group == 1 %}
                                                    <div class="row border-bottom exercise-row" data-id="{{ exercise.id }}">
                                                        <div class="col pr-0">{% get_translation exercise.exercise_id.title %}</div>
                                                        <div class="col-sm-12 col-md-3 px-0">
                                                            <button type="button" class="btn btn-sm btn-danger rounded-0 py-0 h-100 float-right delete-exercise edit-button d-none"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            <input type="number" name="duration" min="0" max="999" class="form-control form-control-sm rounded-0 py-0 h-auto text-center float-right edit-input" value="{{ exercise.duration }}" style="width: 50px" autocomplete="off" disabled>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row border border-dark bg-default-light font-weight-bold">
                                                <div class="col">Цели</div>
                                                <div class="col-2 text-right px-0">
                                                    <button type="button" class="btn btn-sm btn-secondary rounded-0 py-0 h-100 edit-button d-none"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="row border-bottom">
                                                <div class="col">---</div>
                                                <div class="col-2 text-right px-0">--</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row exercise-block">
                                        <div id="group_B" class="col-12 group-block" data-group="2">
                                            <div class="row border border-dark bg-default-light font-weight-bold">
                                                <div class="col">Группа B</div>
                                                <div class="col-3 px-0">
                                                    <button type="button" class="btn btn-sm btn-secondary float-right rounded-0 py-0 h-100 edit-button d-none" data-toggle="modal" data-target="#add-exercise-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    <span class="sum-duration-group btn btn-sm float-right rounded-0 py-0 h-100 font-weight-bold" style="width: 50px">00</span>
                                                </div>
                                            </div>
                                            {% for exercise in object.usertrainingexercise_set.all %}
                                                {% if exercise.group == 2 %}
                                                    <div class="row border-bottom exercise-row" data-id="{{ exercise.id }}">
                                                        <div class="col pr-0">{% get_translation exercise.exercise_id.title %}</div>
                                                        <div class="col-sm-12 col-md-3 px-0">
                                                            <button type="button" class="btn btn-sm btn-danger rounded-0 py-0 h-100 float-right delete-exercise edit-button d-none"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            <input type="number" name="duration" min="0" max="999" class="form-control form-control-sm rounded-0 py-0 h-auto text-center float-right edit-input" value="{{ exercise.duration }}" style="width: 50px" autocomplete="off" disabled>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row exercise-block">
                                        <div id="group_C" class="col-12 group-block" data-group="3">
                                            <div class="row border border-dark bg-default-light font-weight-bold">
                                                <div class="col">Группа C</div>
                                                <div class="col-3 px-0">
                                                    <button type="button" class="btn btn-sm btn-secondary float-right rounded-0 py-0 h-100 edit-button d-none" data-toggle="modal" data-target="#add-exercise-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    <span class="sum-duration-group btn btn-sm float-right rounded-0 py-0 h-100 font-weight-bold" style="width: 50px">00</span>
                                                </div>
                                            </div>
                                            {% for exercise in object.usertrainingexercise_set.all %}
                                                {% if exercise.group == 3 %}
                                                    <div class="row border-bottom exercise-row" data-id="{{ exercise.id }}">
                                                        <div class="col pr-0">{% get_translation exercise.exercise_id.title %}</div>
                                                        <div class="col-sm-12 col-md-3 px-0">
                                                            <button type="button" class="btn btn-sm btn-danger rounded-0 py-0 h-100 float-right delete-exercise edit-button d-none"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            <input type="number" name="duration" min="0" max="999" class="form-control form-control-sm rounded-0 py-0 h-auto text-center float-right edit-input" value="{{ exercise.duration }}" style="width: 50px" autocomplete="off" disabled>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4 py-2 d-flex justify-content-center">
                                            <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                                <div id="svgparent" class="d-block mx-auto">
                                                    <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                            <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                        </defs>
                                                        <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                        <g id="selects"></g>
                                                        <g id="figures"></g>
                                                        <g id="lines"></g>
                                                        <g id="objects"></g>
                                                        <g id="dots"></g>
                                                        <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 py-2 d-flex justify-content-center">
                                            <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                                <div id="svgparent" class="d-block mx-auto">
                                                    <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                            <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                        </defs>
                                                        <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                        <g id="selects"></g>
                                                        <g id="figures"></g>
                                                        <g id="lines"></g>
                                                        <g id="objects"></g>
                                                        <g id="dots"></g>
                                                        <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 py-2 d-flex justify-content-center">
                                            <div id="svgbox" class="d-block float-left size-w-x" style="--w-x:100%;">
                                                <div id="svgparent" class="d-block mx-auto">
                                                    <svg id="block" class="d-block bg-success mx-auto" viewBox="0 0 600 400" height="100%" width="100%" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                            <marker id="40870arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="89143arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffffff"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="95052arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ffff00"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="11295arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#ff0000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <marker id="31628arrow" markerWidth="15" markerHeight="12" refX="1" refY="6" orient="auto" markerUnits="userSpaceOnUse" fill="#000000"><polyline points="1 1, 16 5.5, 1 12"></polyline></marker>
                                                            <filter id="f3" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter>
                                                        </defs>
                                                        <image id="plane" x="0" y="0" data-width="600" data-height="400" width="100%" height="100%" href="{% static 'exercises/img/field.svg' %}"></image>
                                                        <g id="selects"></g>
                                                        <g id="figures"></g>
                                                        <g id="lines"></g>
                                                        <g id="objects"></g>
                                                        <g id="dots"></g>
                                                        <line id="xLine" x1="-1" y1="0" x2="-1" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine" x1="0" y1="-1" x2="2400" y2="-1" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="xLine2" x1="-2400" y1="0" x2="-2400" y2="1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                        <line id="yLine2" x1="0" y1="-1600" x2="2400" y2="-1600" stroke="red" stroke-dasharray="10" stroke-width="1"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="training-exercises" role="tabpanel" aria-labelledby="training-exercises-tab">
                            <div class="row">
                                <div class="col px-0">
                                    {% include "exercises/modules/exercises_list.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="training-protocol" role="tabpanel" aria-labelledby="training-protocol-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-exercise-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 100vw; margin: auto">
            <div class="modal-content" style="height: 100vh">
                <div class="modal-header py-1">
                    <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Add exercise" %}</h5>
                    <a class="btn btn-sm btn-warning mx-2" id="columnsSizeToggle" title="Поменять размер колонок">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                        {% include "exercises/modules/exercises_list.html" %}
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-sm btn-warning add-exercise edit-button" data-group="1">{% trans "Group A" %} <i class="fa fa-plus" aria-hidden="true"></i> <span class="badge badge-light font-weight-bold">0</span></button>
                    <button type="button" class="btn btn-sm btn-warning add-exercise edit-button" data-group="2">{% trans "Group B" %} <i class="fa fa-plus" aria-hidden="true"></i> <span class="badge badge-light font-weight-bold">0</span></button>
                    <button type="button" class="btn btn-sm btn-warning add-exercise edit-button" data-group="3">{% trans "Group C" %} <i class="fa fa-plus" aria-hidden="true"></i> <span class="badge badge-light font-weight-bold">0</span></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'exercises/js/modules/exercise_counter.js' %}"></script>
    <script src="{% static 'exercises/js/modules/visual_block_control.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercises_list.js' %}"></script>
    <script src="{% static 'exercises/js/modules/exercise_card.js' %}"></script>

    <script src="{% static 'events/js/event_update.js' %}"></script>
    <script src="{% static 'trainings/js/view_training.js' %}"></script>
    <script src="{% static 'video/js/video_list.js' %}"></script>
{% endblock %}