{% extends '../base/app_main.html' %}
{% load static %}

{% block title %}Упражнения{% endblock %}

{% block content %}
    <style>
        .badge {
            cursor: pointer;
        }
        .badge-success:hover {
            background-color: #7ab13c8f !important;
        }
        .badge-secondary:hover {
            background-color: #6c757d7e !important;
        }
        .badge-danger:hover {
            background-color: #e8464685 !important;
        }
    </style>

    <main class="">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'exercises:exercises' %}">Список упражнений</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'exercises:folders' %}">Управление папками</a>
            </li>
        </ul>
        <div class="">
            <span>- Папки для упражнений -</span>
            <span class="badge badge-success folder-add ml-3" title="Добавить папку">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <span class="badge badge-warning folders-nanofb ml-2" title="Просмотреть папки NFB">
                [NanoFB.]
            </span>
            <span class="badge badge-info folder-up ml-2" title="Переместить вверх">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </span>
            <span class="badge badge-info folder-down ml-1" title="Переместить вниз">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </span>
            <span class="badge badge-success folders-save ml-1" title="Сохранить изменения">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </span>
        </div>
        <div class="row">
            <div class="col-8">
                {% include 'exercises/folders_list.html' %}
            </div>
        </div>

        <div class="modal fade" id="folderChangeModal" tabindex="-1" role="dialog" aria-labelledby="folderChangeModalLbl" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="folderChangeModalLbl">Создание / изменение папки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formFolderChange">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="short_name_val">Короткий ключ</label>
                                    <input type="text" class="form-control" id="short_name_val" name="short_name" placeholder="Короткий ключ" required>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="name_val">Название</label>
                                    <input type="text" class="form-control" id="name_val" name="name" placeholder="Название" required>
                                </div>
                            </div>
                            <button id="formFolderChangeClick" type="submit" class="btn btn-primary d-none">ok</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-submit" onclick="document.getElementById('formFolderChangeClick').click();">Подтвердить изменения</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="folderDeleteModal" tabindex="-1" role="dialog" aria-labelledby="folderDeleteModalLbl" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="folderDeleteModalLbl">Удаление папки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы точно хотите удалить данную папку
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-submit">Подтвердить изменения</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="folderNanoFbModal" tabindex="-1" role="dialog" aria-labelledby="folderNanoFbModalLbl" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="folderNanoFbModalLbl">Структура папок NFB</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="nfb_folders_list mt-3">
                            <ul class="list-group">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-submit">Выбрать данную структуру</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'exercises/js/base_exercises_folders.js' %}"></script>
    <script src="{% static 'exercises/js/folder_list.js' %}"></script>
{% endblock %}
