<div class="modal fade" id="fieldEditorModal" tabindex="-1" role="dialog" aria-labelledby="fieldEditorModalLbl" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 70vw !important;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="labels-selector mb-2">
                    <div class="circle-label" data-id="1">1</div>
                </div>
                <div class="field-content d-flex justify-content-center" style="height: 65vh !important;">
                    <div class="draggable-zone" 
                        style="height: 100% !important; width: 20vw !important;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="save">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
