#print-training-block textarea{
    overflow: hidden;
    resize: none;
}

.ck.ck-editor__editable {
    border: none !important;
    border-color: white !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.ck.ck-editor__top{
    display: none;
}